<!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{{'caf_history' | translate}}</h2>
                            
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Service Page Section  Start
        ================================================== -->
        <section id="history-page" class="pages history-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h1' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h2' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h3' | translate"> </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/2.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h4' | translate"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h5' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h6' | translate"></p>

                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/4.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h7' | translate"></p>

                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h8' | translate"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h9' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h10' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h11' | translate"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/6.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h12' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h13' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h14' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h15' | translate"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h16' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h17' | translate"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/7.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/8.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h18' | translate"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h19' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h20' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h21' | translate"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/9.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="block">
                            <img class="img-responsive" src="images/history/11.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="block">
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h22' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h23' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h24' | translate"></p>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="'h25' | translate"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <img class="img-responsive" src="images/history/10.png" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
