<section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>{{'CAF' | translate}}</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">{{'CAF1' | translate}}</b> <b class="is-visible">{{'CAF2' | translate}} </b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    <a href="../">{{'TITLE' | translate}}</a>
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                {{'ABOUT_CAF' | translate}}
                                </h2>
                                <p ng-bind-html="'ABOUT_CAF1' | translate"></p>
                                <p>{{'ABOUT_CAF2' | translate}}</p>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="images/about/about1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#about -->
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <section id="works" class="works">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">{{'CAF_TITLE' | translate}}</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-1.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_1' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_1_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-2.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_2' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_2_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-3.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_3' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_3_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-4.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p> {{'caf_item_4' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_4_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-5.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_5' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_5_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-6.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_6' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_6_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-7.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_7' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_7_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-8.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_8' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_8_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="images/portfolio/item-9.jpg" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">
                                        <p>{{'caf_item_9' | translate}}</p>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                    {{'caf_item_9_title' | translate}}
                                </h4>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section> <!-- #works -->
                  
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->