<!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{{'PROFESSORS' | translate}}</h2>
                            
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Service Page Section  Start
        ================================================== -->
        <section id="service-page" class="pages service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="row service-parts teachers">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                            <i class="ion-ios-lightbulb"></i>
                                            <p><strong>{{'caf_head' | translate}}</strong></p>
                                            <h4>{{'svyatniy' | translate}}</h4>
                                            <p>{{'dtn' | translate}}</p>
                                            <p><a href="mailto:volodymyr.svyatnyy@donntu.edu.ua">volodymyr.svyatnyy@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'docent' | translate}}</strong></p>
                                            <h4>{{'p1' | translate}}</h4>
                                            <p>{{'dac' | translate}}</p>
                                            <p><a href="mailto:sergiy.kovalov@donntu.edu.ua">sergiy.kovalov@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'docent' | translate}}</strong></p>
                                            <h4>{{'p2' | translate}}</h4>
                                            <p>{{'dac' | translate}}</p>
                                            <p><a href="mailto:vitalii.shamaev@donntu.edu.ua"> vitalii.shamaev@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'docent' | translate}}</strong></p>
                                            <h4>{{'p3' | translate}}</h4>
                                            <p>{{'dac' | translate}}</p>
                                            <p><a href="mailto:sergii.tsololo@donntu.edu.ua "> sergii.tsololo@donntu.edu.ua </a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-md-offset-2">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'docent' | translate}}</strong></p>
                                            <h4>{{'p4' | translate}}</h4>
                                            <p>{{'dac' | translate}}</p>
                                            <p><a href="mailto:oleksandr.miroshkin@donntu.edu.ua"> oleksandr.miroshkin@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'docent' | translate}}</strong></p>
                                            <h4>{{'p5' | translate}} </h4>
                                            <p>{{'dac' | translate}}</p>
                                            <p><a href="mailto:oleksandr.samoshchenko@donntu.edu.ua"> oleksandr.samoshchenko@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-md-offset-2">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'sv' | translate}}</strong></p>
                                            <h4>{{'p6' | translate}}</h4>
                                            <p><a href="mailto:olha.shevchenko@donntu.edu.ua">olha.shevchenko@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                            <i class="ion-ios-person"></i>
                                            <p><strong>{{'sv' | translate}}</strong></p>
                                            <h4>{{'p7' | translate}}</h4>
                                            <p><a href="mailto:yuliia.dikova@donntu.edu.ua">yuliia.dikova@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                            <i class="ion-settings"></i>
                                            <p><strong>{{'eng' | translate}}</strong></p>
                                            <h4>{{'p8' | translate}}</h4>
                                            <p><a href="mailto:serhii.bardakov@donntu.edu.ua">serhii.bardakov@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                            <i class="ion-wrench"></i>
                                            <p><strong>{{'lh' | translate}}</strong></p>
                                            <h4>{{'p9' | translate}}</h4>
                                            <p><a href="mailto:olena.kriukovska@donntu.edu.ua">olena.kriukovska@donntu.edu.ua</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                            <i class="ion-erlenmeyer-flask"></i>
                                            <p><strong>{{'lab' | translate}}</strong></p>
                                            <h4>{{'p10' | translate}}</h4>
                                            <p><a href="mailto:marharyta.soroka@donntu.edu.ua">marharyta.soroka@donntu.edu.ua </a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

