
                    <div class="tab-content">
								<div id="bachelor" ng-class="{active: !activeTab || activeTab == 'bachelor'}" class="tab-pane fade in">
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/7.jpg" class="media-object">
									  </div>
									  <div class = "media-body">
                                        <h3 class = "media-heading"> Компьютерная инженерия </h3>
                                        <strong> Сферы деятельности: </strong>
                                        <ul>
                                            <li> проектирование и разработка компьютерных систем; </li>
                                            <li> проектирование, настройка и поддержка компьютерных вычислительных сетей; </li>
                                            <li> разработка универсальных адаптивных приложений для веб-среды и современных мобильных платформ, создание комплексных программных решений. </li>
                                        </ul>
                                        <strong> Основные дисциплины: </strong>
                                        <ul>
                                            <li> основы проектирования цифровых устройств; </li>
                                            <li> проектирование средств вычислительной техники и систем управления; </li>
                                            <li> технологии и языки программирования; </li>
                                            <li> современные мобильные платформы; </li>
                                            <li> архитектура и программирование микроконтроллеров; </li>
                                            <li> анализ и обработка цифровых сигналов. </li>
                                        </ul>
                                        <strong> Предметы для поступления: </strong>
                                        <ul>
                                            <li> Украинский язык и литература; </li>
                                            <li> математика </li>
                                            <li> иностранный язык или история Украины </li>
                                        </ul>
                                        </div>
									</div>
									<div class="media">
									  <div class="media-body">
									    <h3 class = "media-heading"> Инженерия программного обеспечения </h3>
                                            <strong> Сферы деятельности: </strong>
                                            <ul>
                                                <li> разработка, использование и сопровождение алгоритмического и программного обеспечения информационных систем; </li>
                                                <li> проектирование и разработка современных прикладных пакетов, баз данных и знаний; </li>
                                                <li> внедрения информационных технологий в задачах управления и принятия решений. </li>
                                            </ul>
                                            <strong> Основные дисциплины: </strong>
                                            <ul>
                                                <li> языка и технологии программирования; </li>
                                                <li> методологии, технологии и среды проектирования, моделирования, разработки и тестирования программного обеспечения. </li>
                                            </ul>
                                            <strong> Предметы для поступления: </strong>
                                            <ul>
                                                <li> Украинский язык и литература; </li>
                                                <li> математика </li>
                                                <li> иностранный язык или история Украины </li>
                                            </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/1.jpg" class="media-object">
									  </div>
									</div>
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/13.jpg" class="media-object">
									  </div>
									  <div class="media-body">
									    <h3 class = "media-heading"> Компьютерные науки и информационные технологии </h3>
                                        <strong> Сферы деятельности: </strong>
                                        <ul>
                                            <li> проектирование и разработка информационных и управляющих систем; </li>
                                            <li> проектирование и разработка систем искусственного интеллекта; </li>
                                            <li> проектирование и разработка веб-ориентированных систем; </li>
                                            <li> моделирование и компьютерный дизайн; </li>
                                            <li> экологический и экономический мониторинг. </li>
                                        </ul>
                                        <strong> Основные дисциплины: </strong>
                                        <ul>
                                            <li> языка и технологии программирования; </li>
                                            <li> аппаратные средства компьютерных систем; </li>
                                            <li> средства моделирования и проектирования систем различной направленности и уровней сложности; </li>
                                            <li> методы и средства искусственного интеллекта; </li>
                                            <li> технологии сбора, обработки и хранения данных; </li>
                                            <li> проектирование и разработка мультимедийных систем и компьютерный дизайн. </li>
                                        </ul>
                                        <strong> Предметы для поступления: </strong>
                                        <ul>
                                            <li> Украинский язык и литература; </li>
                                            <li> математика </li>
                                            <li> физика или история Украины </li>
                                        </ul>
									  </div>
									</div>
									<div class="media">
									  <div class="media-body">
									    <h3 class = "media-heading"> Философия </h3>
                                            <strong> Сферы деятельности: </strong>
                                            <ul>
                                                <li> продолжение обучения в магистратуре, аспирантуре и докторантуре по философским специальностям; </li>
                                                <li> преподавательская деятельность; </li>
                                                <li> консультативная деятельность в различных областях науки, образования и культуры. </li>
                                            </ul>
                                            <strong> Основные дисциплины: </strong>
                                            <ul>
                                                <li> полный курс по истории философии (изучаются по периодам в течение всего курса обучения); </li>
                                                <li> история философии Украины; </li>
                                                <li> история философии России; </li>
                                                <li> практическая и теоретическая философия; </li>
                                                <li> логика (традиционная, классическая и неклассическая); </li>
                                                <li> история религий. </li>
                                            </ul>
                                            <strong> Предметы для поступления: </strong>
                                            <ul>
                                                <li> Украинский язык и литература </li>
                                                <li> история Украины </li>
                                                <li> иностранный язык или география </li>
                                            </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/15.jpg" class="media-object">
									  </div>
									</div>
								</div>
								<div id="master" ng-class="{active: activeTab == 'master'}" class="tab-pane">
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Подготовка магистров по специальности </h4>
                                            <h3 class = "media-heading"> 123 «Компьютерная инженерия» </h3>
                                            <h4 class = "media-heading"> (Область знаний 12 Информационные технологии) </h4>
                                            <p> Компьютерная инженерия - это глубокое понимание современных компьютерных технологий, проектирования микросистем и компьютеризированных систем управления, развертывания распределенных проводных и беспроводных сетей, внедрение комплексных аппаратно-программных решений с использованием современных локальных и облачных технологий. </p >
                                            <strong> Специализация: </strong>
                                            <ul>
                                                <li> Компьютерная инженерия (компьютерные системы и сети, системное программирование); </li>
                                                <li> Проектирование микросистем </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 года </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> проектирование, разработка и эксплуатация компьютерных систем и сетей; </li>
                                                <li> разработка компьютерных систем различной степени сложности на базе логических интегральных схем с возможностью изменения конфигурации; </li>
                                                <li> разработка и отладка аппаратного и программного обеспечения в различных операционных системах и средах; </li>
                                                <li> разработка и использование современных моделирующих сред на основе параллельных компьютерных систем, создание эффективных моделей для описания технологических процессов, реализация параллельных симуляторов; </li>
                                                <li> проектирование, настройка и поддержка компьютерных вычислительных сетей локального, регионального и международного уровня; </li>
                                                <li> создание аппаратно-программных решений по проектированию микросистем. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> предприятия, где выполняются работы по проектированию, внедрению, эксплуатации и сопровождения компьютерных систем на базе современных аппаратных средств; </li>
                                                <li> компании, занимающиеся разработкой программ уровня архитектуры и операционных систем, а также параллельных программных решений; </li>
                                                <li> создания распределенных интерактивных систем для современных мобильных устройств и платформ; </li>
                                                <li> должности администратора сетей и баз данных, специалиста по внедрению информационных технологий на промышленных предприятиях, в финансовых учреждениях и государственных учреждениях. </li>
                                            </ul>
                                            <strong> Международное сотрудничество: </strong>
                                            <ul>
                                                <li> участие в проекте ТЕМПУС «Curricula Development for New Specialization: Master of Engineering in Microsystem Design», который предусматривает участие студентов в мероприятиях по проекту: летние школы, магистерская практика и тренинг в зарубежных университетах-партнерах м. Лодзь (Польша), м. Лион (Франция) и г.. Ильменау (Германия); </li>
                                                <li> выполнение научно-исследовательских работ по созданию сверхпроизводительных параллельных компьютерных систем совместно с Штутгартским, Гамбургским, Магдебургского университета (Германия), стажировки и получения соответствующих научных стипендий. </li>
                                            </ul> 
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Подготовка магистров по специальности </h4>
                                            <h3 class = "media-heading"> 121 «Инженерия программного обеспечения» </h3>
                                            <h4 class = "media-heading"> (Область знаний 12 Информационные технологии) </h4>
                                            <p> Программная инженерия - это применение творческого подхода к разработке, использования и сопровождения современного программного обеспечения. </p>
                                            <strong> Специализация: </strong>
                                            <ul>
                                                <li> Инженерия программного обеспечения (разработка программных продуктов); </li>
                                                <li> Программное обеспечение мультимедийных систем для игровых приложений; </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 года </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> программирование, создание программных продуктов в творческих коллективах и индивидуально; </li>
                                                <li> разработка, использование и сопровождение алгоритмического и программного обеспечения информационных систем; </li>
                                                <li> проектирование и разработка современных прикладных пакетов, баз знаний; </li>
                                                <li> создание игровых за приложений для различных устройств; </li>
                                                <li> внедрение информационных технологий в промышленных процессах различного уровня, задачах управления и принятия решений. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> предприятия различного профиля и уровня, имеющие в своем составе ИТ-структуры, или создают эти подразделения; </li>
                                                <li> предприятия ИТ-индустрии любой организационно-правовой формы; </li>
                                                <li> консультативные центры, научные и образовательные учреждения и другие в качестве: программистов прикладного уровня; Web-программистов; разработчиков программного обеспечения; проектировщиков автоматизированных и информационных систем и их сопровождающим; технологов систем принятия решений и поддержки научных исследований; инженеров по тестированию программного обеспечения; научно-педагогических работников; game-разработчиков. </li>
                                            </ul>
                                            <strong> Международное сотрудничество: </strong>
                                            <ul>
                                                <li> Участие в проекте GameHub, который предусматривает сотрудничество шести украинских вузов и предприятий в комъютерной игровой индустрии Украины. Координатор проекта UNIVERSITY of DEUSTO (Испания). Участники проекта: Akademia Gorniczo-Hutnicza im.Stanislawa Staszica w Krakowie (Польша), FH JOANNEUM Gesellschaft M.B.H. (Аустрия), Quality Austria - Trainings, Zertifizierungs und Begutachtungs GmbH (Аустрия), Fundación Virtualware Labs (Испания); </li>
                                                <li> Участие в проекте Erasmus + - программе Европейского Союза по поддержке проектов в сфере образования, профессионального обучения, работы с молодежью. </li>
                                            </ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Подготовка магистров по специальности </h4>
                                            <h3 class = "media-heading"> 122 «Компьютерные науки и информационные технологии» </h3>
                                            <h4 class = "media-heading"> (Область знаний 12 Информационные технологии) </h4>
                                            <p> Специальность «Компьютерные науки и информационные технологии» предусматривает подготовку специалистов, квалификация которых гармонично сочетает знания и навыки в области информационных технологий и общую фундаментальную подготовку. </p>
                                            <strong> Квалификация: </strong>
                                            <ul>
                                                <li> магистр компьютерных наук и информационных технологий. Научный сотрудник (Вычислительных систем) </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 года </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> проектирование информационных управляющих систем в различных отраслях и их реализация; </li>
                                                <li> проектирование и разработка программных модулей систем искусственного интеллекта и систем принятия решений; </li>
                                                <li> создание систем автоматизированного проектирования и их компонентов; </li>
                                                <li> создания интеллектуальных обучающих систем и виртуальных учебных сред; </li>
                                                <li> разработка систем по обработке речевых сигналов, анализа и синтеза изображений; </li>
                                                <li> исследования и построение информационно-поисковых и экспертных систем; </li>
                                                <li> моделирование, разработка и внедрение интернет-технологий для построения сервис-ориентированных систем, организации и реализации распределенных систем; </li>
                                                <li> разработка и исследование интеллектуальных агентных систем; </li>
                                                <li> провождения научных исследований в области компьютерных наук и информационных технологий, формулировка новых гипотез и научных задач. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> компании, предприятия или учреждения ИТ-индустрии, которые занимаются проектированием информационных систем (с применением методов и средств современных информационных технологий) и разработкой, внедрением и сопровождением программного обеспечения; </li>
                                                <li> научные и образовательные учреждения; </li>
                                                <li> исследовательские центры; </li>
                                                <li> финансовые, страховые или консалтинговые компании; </li>
                                                <li> интернет-провайдеры и др. в качестве научных сотрудников (вычислительных систем); аналитиков компьютерных систем; разработчиков программного обеспечения для систем искусственного интеллекта, экспертных систем, систем поддержки принятия решений, систем машинной графики и диалоговых систем, систем научных исследований компьютеризированных информационных систем и технологий для различных отраслей науки, промышленности и бизнеса; проектировщиков и разработчиков ИТ-систем; специалистов-аналитиков по информационным системам и ресурсам; системных администраторов руководителей предприятий и ИТ-подразделений; инженеров по компьютерным информационным системам; научно-педагогических работников. </li>
                                            </ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Подготовка магистров по специальности </h4>
                                            <h3 class = "media-heading"> 31 «Религиоведение» </h3>
                                            <h4 class = "media-heading"> (Область знаний 03 Гуманитарные науки) </h4>
                                            <p> Религия - это консультационная деятельность в различных областях науки, образования и культуры; преподавательская и просветительская деятельность. </p>
                                            <strong> Квалификация: </strong>
                                            <ul>
                                                <li> магистр религиоведения. Преподаватель вуза (философские и религиоведческие дисциплины) </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 года </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> консультационная деятельность в различных областях науки, образования и культуры; </li>
                                                <li> преподавательская и просветительская деятельность; </li>
                                                <li> философские и культурологические дисциплины; </li>
                                                <li> исторические науки. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> учреждения науки, культуры и образовательной сферы, занимающихся просветительной, консультационной, разъяснительной деятельностью; </li>
                                                <li> исследовательские и аналитические группы по вопросам философии, истории, религиоведения, социологии; </li>
                                                <li> госслужащие в администрациях любого уровня по вопросам культуры, образования, молодежи; </li>
                                                <li> издательские органы, средства массовой информации, учреждения культуры. </li>
                                            </ul>
									  	</div>
									</div>
								</div>
							</div>