
                    <div class="tab-content">
								<div id="bachelor" ng-class="{active: !activeTab || activeTab == 'bachelor'}" class="tab-pane fade in">
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/7.jpg" class="media-object">
									  </div>
									  <div class = "media-body">
                                        <h3 class = "media-heading"> Computer Engineering </h3>
                                        <strong> Areas of activity: </strong>
                                        <ul>
                                            <li> Design and development of computer systems; </li>
                                            <li> Design, configuration and support of computer networks; </li>
                                            <li> Development of universal adaptive applications for the web environment and modern mobile platforms, creation of complex software solutions. </li>
                                        </ul>
                                        <strong> Main disciplines: </strong>
                                        <ul>
                                            <li> Basics of digital devices design; </li>
                                            <li> Design of computer hardware and control systems; </li>
                                            <li> Technologies and programming languages; </li>
                                            <li> Modern mobile platforms; </li>
                                            <li> Architecture and programming of microcontrollers; </li>
                                            <li> Analysis and processing of digital signals. </li>
                                        </ul>
                                        <strong> Subjects for admission: </strong>
                                        <ul>
                                            <li> Ukrainian language and literature; </li>
                                            <li> Mathematics </li>
                                            <li> Foreign language or History of Ukraine </li>
                                        </ul>
                                        </div>
									</div>
									<div class="media">
									  <div class="media-body">
									    <h3 class = "media-heading"> Software Engineering </h3>
                                            <strong> Areas of activity: </strong>
                                            <ul>
                                                <li> Development, use and maintenance of algorithmic and software information systems; </li>
                                                <li> Design and development of modern application packages, databases and knowledge bases; </li>
                                                <li> Implementation of information technologies in the control tasks and decision-making. </li>
                                            </ul>
                                            <strong> Main disciplines: </strong>
                                            <ul>
                                                <li> Languages and technologies of programming; </li>
                                                <li> Methodology, technology and environments for design, modeling, development and testing of software. </li>
                                            </ul>
                                            <strong> Subjects for admission: </strong>
                                            <ul>
                                                <li> Ukrainian language and literature и литература; </li>
                                                <li> Mathematics </li>
                                                <li> Foreign language or History of Ukraine </li>
                                            </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/1.jpg" class="media-object">
									  </div>
									</div>
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/13.jpg" class="media-object">
									  </div>
									  <div class="media-body">
									    <h3 class = "media-heading"> Computer Sciences and Information Technologies </h3>
                                        <strong> Areas of activity: </strong>
                                        <ul>
                                            <li> Design and development of information and control systems; </li>
                                            <li> Design and development of artificial intelligence systems; </li>
                                            <li> Design and development of web-oriented systems; </li>
                                            <li> Simulation and computer design; </li>
                                            <li> Environmental and economic monitoring. </li>
                                        </ul>
                                        <strong> Main disciplines: </strong>
                                        <ul>
                                            <li> Languages and technologies of programming; </li>
                                            <li> Hardware of computer systems; </li>
                                            <li> Tools for modeling and designing systems of various kinds and levels of complexity; </li>
                                            <li> Methods and means of artificial intelligence; </li>
                                            <li> Technologies of data collection, processing and storage; </li>
                                            <li> Design and development of multimedia systems and computer design. </li>
                                        </ul>
                                        <strong> Subjects for admission: </strong>
                                        <ul>
                                            <li> Ukrainian language and literature и литература; </li>
                                            <li> Mathematics </li>
                                            <li> Physics or History of Ukraine </li>
                                        </ul>
									  </div>
									</div>
									<div class="media">
									  <div class="media-body">
									    <h3 class = "media-heading"> Philosophy </h3>
                                            <strong> Areas of activity: </strong>
                                            <ul>
                                                <li> Continuation of education in the magistracy, postgraduate and doctoral studies in philosophical specialties; </li>
                                                <li> Teaching activities; </li>
                                                <li> Advisory activities in various fields of science, education and culture. </li>
                                            </ul>
                                            <strong> Main disciplines: </strong>
                                            <ul>
                                                <li> Full course on the history of philosophy (studied by periods during the entire course of study); </li>
                                                <li> History of philosophy of Ukraine; </li>
                                                <li> History of philosophy of Russia; </li>
                                                <li> Practical and theoretical philosophy; </li>
                                                <li> Logic (traditional, classical and non-classical); </li>
                                                <li> History of religions. </li>
                                            </ul>
                                            <strong> Subjects for admission: </strong>
                                            <ul>
                                                <li> Ukrainian language and literature </li>
                                                <li> History of Ukraine </li>
                                                <li> Foreign language or Geography </li>
                                            </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/15.jpg" class="media-object">
									  </div>
									</div>
								</div>
								<div id="master" ng-class="{active: activeTab == 'master'}" class="tab-pane">
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 123 «Computer Engineering» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 12 Information Technology) </h4>
                                            <p> Computer engineering is a deep understanding of modern computer technologies, the design of microsystems and computerized control systems, the deployment of distributed wired and wireless networks, the introduction of integrated hardware and software solutions using modern local and cloud technologies. </p >
                                            <strong> Specialization: </strong>
                                            <ul>
                                                <li> Computer engineering (computer systems and networks, system programming); </li>
                                                <li> Microsystem design </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 year </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> проектирование, разработка и эксплуатация компьютерных систем и сетей; </li>
                                                <li> разработка компьютерных систем различной степени сложности на базе логических интегральных схем с возможностью изменения конфигурации; </li>
                                                <li> разработка и отладка аппаратного и программного обеспечения в различных операционных системах и средах; </li>
                                                <li> разработка и использование современных моделирующих сред на основе параллельных компьютерных систем, создание эффективных моделей для описания технологических процессов, реализация параллельных симуляторов; </li>
                                                <li> проектирование, настройка и поддержка компьютерных вычислительных сетей локального, регионального и международного уровня; </li>
                                                <li> создание аппаратно-программных решений по проектированию микросистем. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> предприятия, где выполняются работы по проектированию, внедрению, эксплуатации и сопровождения компьютерных систем на базе современных аппаратных средств; </li>
                                                <li> компании, занимающиеся разработкой программ уровня архитектуры и операционных систем, а также параллельных программных решений; </li>
                                                <li> создания распределенных интерактивных систем для современных мобильных устройств и платформ; </li>
                                                <li> должности администратора сетей и баз данных, специалиста по внедрению информационных технологий на промышленных предприятиях, в финансовых учреждениях и государственных учреждениях. </li>
                                            </ul>
                                            <strong> Международное сотрудничество: </strong>
                                            <ul>
                                                <li> участие в проекте ТЕМПУС «Curricula Development for New Specialization: Master of Engineering in Microsystem Design», который предусматривает участие студентов в мероприятиях по проекту: летние школы, магистерская практика и тренинг в зарубежных университетах-партнерах м. Лодзь (Польша), м. Лион (Франция) и г.. Ильменау (Германия); </li>
                                                <li> выполнение научно-исследовательских работ по созданию сверхпроизводительных параллельных компьютерных систем совместно с Штутгартским, Гамбургским, Магдебургского университета (Германия), стажировки и получения соответствующих научных стипендий. </li>
                                            </ul> 
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 121 «Software Engineering» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 12 Information Technology) </h4>
                                            <p> Программная инженерия - это применение творческого подхода к разработке, использования и сопровождения современного программного обеспечения. </p>
                                            <strong> Specialization: </strong>
                                            <ul>
                                                <li> Инженерия программного обеспечения (разработка программных продуктов); </li>
                                                <li> Программное обеспечение мультимедийных систем для игровых приложений; </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 year </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> программирование, создание программных продуктов в творческих коллективах и индивидуально; </li>
                                                <li> разработка, использование и сопровождение алгоритмического и программного обеспечения информационных систем; </li>
                                                <li> проектирование и разработка современных прикладных пакетов, баз знаний; </li>
                                                <li> создание игровых за приложений для различных устройств; </li>
                                                <li> внедрение информационных технологий в промышленных процессах различного уровня, задачах управления и принятия решений. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> предприятия различного профиля и уровня, имеющие в своем составе ИТ-структуры, или создают эти подразделения; </li>
                                                <li> предприятия ИТ-индустрии любой организационно-правовой формы; </li>
                                                <li> консультативные центры, научные и образовательные учреждения и другие в качестве: программистов прикладного уровня; Web-программистов; разработчиков программного обеспечения; проектировщиков автоматизированных и информационных систем и их сопровождающим; технологов систем принятия решений и поддержки научных исследований; инженеров по тестированию программного обеспечения; научно-педагогических работников; game-разработчиков. </li>
                                            </ul>
                                            <strong> Международное сотрудничество: </strong>
                                            <ul>
                                                <li> Участие в проекте GameHub, который предусматривает сотрудничество шести украинских вузов и предприятий в комъютерной игровой индустрии Украины. Координатор проекта UNIVERSITY of DEUSTO (Испания). Участники проекта: Akademia Gorniczo-Hutnicza im.Stanislawa Staszica w Krakowie (Польша), FH JOANNEUM Gesellschaft M.B.H. (Аустрия), Quality Austria - Trainings, Zertifizierungs und Begutachtungs GmbH (Аустрия), Fundación Virtualware Labs (Испания); </li>
                                                <li> Участие в проекте Erasmus + - программе Европейского Союза по поддержке проектов в сфере образования, профессионального обучения, работы с молодежью. </li>
                                            </ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 122 «Компьютерные науки и информационные технологии» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 12 Information Technology) </h4>
                                            <p> Специальность «Компьютерные науки и информационные технологии» предусматривает подготовку специалистов, квалификация которых гармонично сочетает знания и навыки в области информационных технологий и общую фундаментальную подготовку. </p>
                                            <strong> Qualification: </strong>
                                            <ul>
                                                <li> магистр компьютерных наук и информационных технологий. Научный сотрудник (Вычислительных систем) </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 year </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> проектирование информационных управляющих систем в различных отраслях и их реализация; </li>
                                                <li> проектирование и разработка программных модулей систем искусственного интеллекта и систем принятия решений; </li>
                                                <li> создание систем автоматизированного проектирования и их компонентов; </li>
                                                <li> создания интеллектуальных обучающих систем и виртуальных учебных сред; </li>
                                                <li> разработка систем по обработке речевых сигналов, анализа и синтеза изображений; </li>
                                                <li> исследования и построение информационно-поисковых и экспертных систем; </li>
                                                <li> моделирование, разработка и внедрение интернет-технологий для построения сервис-ориентированных систем, организации и реализации распределенных систем; </li>
                                                <li> разработка и исследование интеллектуальных агентных систем; </li>
                                                <li> провождения научных исследований в области компьютерных наук и информационных технологий, формулировка новых гипотез и научных задач. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> компании, предприятия или учреждения ИТ-индустрии, которые занимаются проектированием информационных систем (с применением методов и средств современных информационных технологий) и разработкой, внедрением и сопровождением программного обеспечения; </li>
                                                <li> научные и образовательные учреждения; </li>
                                                <li> исследовательские центры; </li>
                                                <li> финансовые, страховые или консалтинговые компании; </li>
                                                <li> интернет-провайдеры и др. в качестве научных сотрудников (вычислительных систем); аналитиков компьютерных систем; разработчиков программного обеспечения для систем искусственного интеллекта, экспертных систем, систем поддержки принятия решений, систем машинной графики и диалоговых систем, систем научных исследований компьютеризированных информационных систем и технологий для различных отраслей науки, промышленности и бизнеса; проектировщиков и разработчиков ИТ-систем; специалистов-аналитиков по информационным системам и ресурсам; системных администраторов руководителей предприятий и ИТ-подразделений; инженеров по компьютерным информационным системам; научно-педагогических работников. </li>
                                            </ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 31 «Religious Studies» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 03 Humanitarian sciences) </h4>
                                            <p> Религия - это консультационная деятельность в различных областях науки, образования и культуры; преподавательская и просветительская деятельность. </p>
                                            <strong> Qualification: </strong>
                                            <ul>
                                                <li> магистр религиоведения. Преподаватель вуза (философские и религиоведческие дисциплины) </li>
                                            </ul>
                                            <p> Условия поступления: экзамен по иностранному языку, экзамен по специальности </p>
                                            <p> <strong> Срок обучения: </strong> 1,5 year </p>
                                            <ul>
                                                <li> дневной и заочной формам обучения; </li>
                                                <li> на бюджетной и контрактной основе; </li>
                                                <li> на базе образовательного уровня «бакалавр» (любого профессионального направления). </li>
                                            </ul>
                                            <strong> Виды профессиональной деятельности: </strong>
                                            <ul>
                                                <li> консультационная деятельность в различных областях науки, образования и культуры; </li>
                                                <li> преподавательская и просветительская деятельность; </li>
                                                <li> философские и культурологические дисциплины; </li>
                                                <li> исторические науки. </li>
                                            </ul>
                                            <strong> Сфера трудоустройства: </strong>
                                            <ul>
                                                <li> учреждения науки, культуры и образовательной сферы, занимающихся просветительной, консультационной, разъяснительной деятельностью; </li>
                                                <li> исследовательские и аналитические группы по вопросам философии, истории, религиоведения, социологии; </li>
                                                <li> госслужащие в администрациях любого уровня по вопросам культуры, образования, молодежи; </li>
                                                <li> издательские органы, средства массовой информации, учреждения культуры. </li>
                                            </ul>
									  	</div>
									</div>
								</div>
							</div>