
                    <div class="tab-content">
								<div id="bachelor" ng-class="{active: !activeTab || activeTab == 'bachelor'}" class="tab-pane fade in">
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/7.jpg" class="media-object">
									  </div>
									  <div class = "media-body" id="bachelor_computer_engineering">
                                        <h3 class = "media-heading"> Computer Engineering </h3>
                                        <strong> Areas of activity: </strong>
                                        <ul>
                                            <li> Design and development of computer systems; </li>
                                            <li> Design, configuration and support of computer networks; </li>
                                            <li> Development of universal adaptive applications for the web environment and modern mobile platforms, creation of complex software solutions. </li>
                                        </ul>
                                        <strong> Main disciplines: </strong>
                                        <ul>
                                            <li> Basics of digital devices design; </li>
                                            <li> Design of computer hardware and control systems; </li>
                                            <li> Technologies and programming languages; </li>
                                            <li> Modern mobile platforms; </li>
                                            <li> Architecture and programming of microcontrollers; </li>
                                            <li> Analysis and processing of digital signals. </li>
                                        </ul>
                                        <strong> Subjects for admission: </strong>
                                        <ul>
                                            <li> Ukrainian language and literature; </li>
                                            <li> Mathematics </li>
                                            <li> Foreign language or History of Ukraine </li>
                                        </ul>
                                        </div>
									</div>
									<div class="media">
									  <div class="media-body" id="bachelor_software_engineering">
									    <h3 class = "media-heading"> Software Engineering </h3>
                                            <strong> Areas of activity: </strong>
                                            <ul>
                                                <li> Development, use and maintenance of algorithmic and software information systems; </li>
                                                <li> Design and development of modern application packages, databases and knowledge bases; </li>
                                                <li> Implementation of information technologies in the control tasks and decision-making. </li>
                                            </ul>
                                            <strong> Main disciplines: </strong>
                                            <ul>
                                                <li> Languages and technologies of programming; </li>
                                                <li> Methodology, technology and environments for design, modeling, development and testing of software. </li>
                                            </ul>
                                            <strong> Subjects for admission: </strong>
                                            <ul>
                                                <li> Ukrainian language and literature и литература; </li>
                                                <li> Mathematics </li>
                                                <li> Foreign language or History of Ukraine </li>
                                            </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/1.jpg" class="media-object">
									  </div>
									</div>
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/13.jpg" class="media-object">
									  </div>
									  <div class="media-body" id="bachelor_computer_sciences" >
									    <h3 class = "media-heading"> Computer Sciences and Information Technologies </h3>
                                        <strong> Areas of activity: </strong>
                                        <ul>
                                            <li> Design and development of information and control systems; </li>
                                            <li> Design and development of artificial intelligence systems; </li>
                                            <li> Design and development of web-oriented systems; </li>
                                            <li> Simulation and computer design; </li>
                                            <li> Environmental and economic monitoring. </li>
                                        </ul>
                                        <strong> Main disciplines: </strong>
                                        <ul>
                                            <li> Languages and technologies of programming; </li>
                                            <li> Hardware of computer systems; </li>
                                            <li> Tools for modeling and designing systems of various kinds and levels of complexity; </li>
                                            <li> Methods and means of artificial intelligence; </li>
                                            <li> Technologies of data collection, processing and storage; </li>
                                            <li> Design and development of multimedia systems and computer design. </li>
                                        </ul>
                                        <strong> Subjects for admission: </strong>
                                        <ul>
                                            <li> Ukrainian language and literature и литература; </li>
                                            <li> Mathematics </li>
                                            <li> Physics or History of Ukraine </li>
                                        </ul>
									  </div>
									</div>
									<div class="media">
									  <div class="media-body" id="bachelor_philosophy">
									    <h3 class = "media-heading"> Philosophy </h3>
                                            <strong> Areas of activity: </strong>
                                            <ul>
                                                <li> Continuation of education in the magistracy, postgraduate and doctoral studies in philosophical specialties; </li>
                                                <li> Teaching activities; </li>
                                                <li> Advisory activities in various fields of science, education and culture. </li>
                                            </ul>
                                            <strong> Main disciplines: </strong>
                                            <ul>
                                                <li> Full course on the history of philosophy (studied by periods during the entire course of study); </li>
                                                <li> History of philosophy of Ukraine; </li>
                                                <li> History of philosophy of Russia; </li>
                                                <li> Practical and theoretical philosophy; </li>
                                                <li> Logic (traditional, classical and non-classical); </li>
                                                <li> History of religions. </li>
                                            </ul>
                                            <strong> Subjects for admission: </strong>
                                            <ul>
                                                <li> Ukrainian language and literature </li>
                                                <li> History of Ukraine </li>
                                                <li> Foreign language or Geography </li>
                                            </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/15.jpg" class="media-object">
									  </div>
									</div>
								</div>
								<div id="master" ng-class="{active: activeTab == 'master'}" class="tab-pane">
									<div class="media">
									 	 <div class="media-body" id="master_computer_engineering">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 123 «Computer Engineering» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 12 Information Technology) </h4>
                                            <p> Computer engineering is a deep understanding of modern computer technologies, the design of microsystems and computerized control systems, the deployment of distributed wired and wireless networks, the introduction of integrated hardware and software solutions using modern local and cloud technologies. </p >
                                            <strong> Specialization: </strong>
                                            <ul>
                                                <li> Computer engineering (computer systems and networks, system programming); </li>
                                                <li> Microsystem design </li>
                                            </ul>
                                            <p> Conditions of admission: examination in a foreign language, examination in the specialty </p>
                                            <p> <strong> Term of study: </strong> 1,5 years </p>
                                            <ul>
                                                <li> full-time and extramural studies; </li>
                                                <li> on a budgetary and contractual basis; </li>
                                                <li> on the basis of the educational level "Bachelor" (of any professional direction). </li>
                                            </ul>
                                            <strong> Types of professional activity: </strong>
                                            <ul>
                                                <li> Design, development and operation of computer systems and networks; </li>
                                                <li> Development of computer systems of varying complexity on the basis of logical integrated circuits with the possibility of changing the configuration; </li>
                                                <li> Development and debugging of hardware and software in various operating systems and environments; </li>
                                                <li> Development and use of modern modeling environments on the basis of parallel computer systems, the creation of effective models for description of technological processes, implementation of parallel simulators; </li>
                                                <li> Design, configuration and support of computer networks of local, regional and international level; </li>
                                                <li> Creation of hardware and software solutions for the design of microsystems. </li>
                                            </ul>
                                            <strong> Sphere of employment: </strong>
                                            <ul>
                                                <li> Enterprises where work is carried out on the design, implementation, operation and maintenance of computer systems on the basis of modern hardware; </li>
                                                <li> Companies engaged in the development of programs at the level of architecture and operating systems, as well as parallel software solutions; </li>
                                                <li> Creation of distributed interactive systems for modern mobile devices and platforms; </li>
                                                <li> A post of an administrator of networks and databases, a specialist in the implementation of information technology in industrial enterprises, financial institutions and government institutions. </li>
                                            </ul>
                                            <strong> International cooperation: </strong>
                                            <ul>
                                                <li> Participation in the TEMPUS project "Curricula Development for New Specialization: Master of Engineering in Microsystem Design", which provides for the participation of students in the activities of the project: summer schools, master's practice and training in foreign partner universities Lodz (Poland), Lyon (France) and Ilmenau (Germany); </li>
                                                <li> Implementation of research work on the creation of super-productive parallel computer systems in conjunction with the Stuttgart, Hamburg, Magdeburg University (Germany), internships and obtaining relevant scientific scholarships. </li>
                                            </ul> 
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body" id="master_software_engineering">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 121 «Software Engineering» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 12 Information Technology) </h4>
                                            <p> Software engineering is the application of a creative approach to the development, use and maintenance of modern software. </p>
                                            <strong> Specialization: </strong>
                                            <ul>
                                                <li> Software engineering (software development); </li>
                                                <li> Software for multimedia systems for gaming applications; </li>
                                            </ul>
                                            <p> Conditions of admission: examination in a foreign language, examination in the specialty </p>
                                            <p> <strong> Term of study: </strong> 1,5 years </p>
                                            <ul>
                                                <li> full-time and extramural studies; </li>
                                                <li> on a budgetary and contractual basis; </li>
                                                <li> on the basis of the educational level "Bachelor" (of any professional direction). </li>
                                            </ul>
                                            <strong> Types of professional activity: </strong>
                                            <ul>
                                                <li> Programming, creating software products in creative groups and individually; </li>
                                                <li> Development, use and maintenance of algorithmic and software information systems; </li>
                                                <li> Design and development of modern application packages, knowledge bases; </li>
                                                <li> Creating gaming for applications for various devices; </li>
                                                <li> Implementation of information technologies in industrial processes at various levels, control and decision-making tasks. </li>
                                            </ul>
                                            <strong> Sphere of employment: </strong>
                                            <ul>
                                                <li> Enterprises of different profile and level that have IT structures in their composition, or create these departments; </li>
                                                <li> Enterprises of the IT industry of any organizational and legal form; </li>
                                                <li> Consultative centers, scientific and educational institutions and others as: application-level programmers; Web programmers; Software developers; Designers of automated and information systems; Technologists of decision-making systems and support of scientific research; Software testing engineers; Scientific and pedagogical workers; Game-developers. </li>
                                            </ul>
                                            <strong> International cooperation: </strong>
                                            <ul>
                                                <li> Participation in the GameHub project, which provides for the cooperation of six Ukrainian universities and enterprises in the Ukrainian gaming industry. Coordinator of the project is UNIVERSITY of DEUSTO (Spain). Project participants: Akademia Gorniczo-Hutnicza im.Stanislawa Staszica w Krakowie (Poland), FH JOANNEUM Gesellschaft M.B.H. (Austria), Quality Austria - Trainings, Zertifizierungs und Begutachtungs GmbH (Austria), Fundación Virtualware Labs (Spain); </li>
                                                <li> Participation in the project Erasmus+ - the program of the European Union to support projects in the field of education, vocational training, work with young people. </li>
                                            </ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body" id="master_computer_sciences">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 122 «Computer Science and Information Technology» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 12 Information Technology) </h4>
                                            <p> Specialty "Computer Science and Information Technology" provides for the training of specialists whose qualification harmoniously combines knowledge and skills in the field of information technology and general fundamental training. </p>
                                            <strong> Qualification: </strong>
                                            <ul>
                                                <li> Master of Computer Science and Information Technology. Researcher (Computing Systems) </li>
                                            </ul>
                                            <p> Conditions of admission: examination in a foreign language, examination in the specialty </p>
                                            <p> <strong> Term of study: </strong> 1,5 years </p>
                                            <ul>
                                                <li> full-time and extramural studies; </li>
                                                <li> on a budgetary and contractual basis; </li>
                                                <li> on the basis of the educational level "Bachelor" (of any professional direction). </li>
                                            </ul>
                                            <strong> Types of professional activity: </strong>
                                            <ul>
                                                <li> Design of information management systems in various industries and their implementation; </li>
                                                <li> Design and development of software modules of artificial intelligence systems and decision-making systems; </li>
                                                <li> Creation of computer-aided design systems and their components; </li>
                                                <li> Creation of intelligent training systems and virtual learning environments; </li>
                                                <li> Development of systems for the processing of speech signals, analysis and synthesis of images; </li>
                                                <li> Research and construction of information retrieval and expert systems; </li>
                                                <li> Modeling, development and implementation of Internet technologies for the construction of service-oriented systems, organization and implementation of distributed systems; </li>
                                                <li> Development and research of intelligent agent systems; </li>
                                                <li> Carrying out of scientific researches in the field of computer sciences and information technologies, the formulation of new hypotheses and scientific tasks. </li>
                                            </ul>
                                            <strong> Sphere of employment: </strong>
                                            <ul>
                                                <li> Companies, enterprises or institutions of the IT industry that are engaged in the design of information systems (using the methods and means of modern information technology) and the development, implementation and maintenance of software; </li>
                                                <li> Scientific and educational institutions; </li>
                                                <li> Research centers; </li>
                                                <li> Financial, insurance or consulting companies; </li>
                                                <li> Internet providers, etc. as researchers (computer systems); Analysts of computer systems; Software developers for artificial intelligence systems, expert systems, decision support systems, computer graphics systems and interactive systems, research systems for computerized information systems and technologies for various branches of science, industry and business; Designers and developers of IT-systems; Analysts in information systems and resources; System administrators of enterprise managers and IT departments; Engineers on computer information systems; Scientific and pedagogical workers. </li>
                                            </ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body" id="master_religious_studies">
										  	<h4 class = "media-heading"> Master's degree in the specialty </h4>
                                            <h3 class = "media-heading"> 31 «Religious Studies» </h3>
                                            <h4 class = "media-heading"> (Field of knowledge 03 Humanitarian sciences) </h4>
                                            <p> Religion is a consultative activity in various fields of science, education and culture; teaching and educational activity. </p>
                                            <strong> Qualification: </strong>
                                            <ul>
                                                <li> Master of Religious Studies. University teacher (philosophical and religious studies subjects) </li>
                                            </ul>
                                            <p> Conditions of admission: examination in a foreign language, examination in the specialty </p>
                                            <p> <strong> Term of study: </strong> 1,5 years </p>
                                            <ul>
                                                <li> full-time and extramural studies; </li>
                                                <li> on a budgetary and contractual basis; </li>
                                                <li> on the basis of the educational level "Bachelor" (of any professional direction). </li>
                                            </ul>
                                            <strong> Types of professional activity: </strong>
                                            <ul>
                                                <li> Consulting activities in various fields of science, education and culture; </li>
                                                <li> Teaching and educational activities; </li>
                                                <li> Philosophical and cultural disciplines; </li>
                                                <li> Historical sciences. </li>
                                            </ul>
                                            <strong> Sphere of employment: </strong>
                                            <ul>
                                                <li> Institutions of science, culture and the educational sphere engaged in educational, consulting, explanatory activities; </li>
                                                <li> Research and analytical groups on philosophy, history, religious studies, sociology; </li>
                                                <li> Civil servants in administrations of any level on issues of culture, education, youth; </li>
                                                <li> Publishing agencies, the media, cultural institutions. </li>
                                            </ul>
									  	</div>
									</div>
								</div>
							</div>