		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Факультет компьютерных наук и технологий</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#news" role="tab" data-toggle="tab">News</a></li>
                            <li><a data-toggle="tab" role="tab" data-target="#users">Users</a></li>
                            <li><a data-toggle="tab" role="tab" data-target="#groups">Groups</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" id="news" class="tab-pane fade in active">
                                <h3>News</h3>
                                        <label >
                                            <input type="radio" name="type" ng-model="mode" value="add" ng-disabled="isEditable"  ng-change="changeType()" > Add
                                        </label>
                                        <label >
                                            <input type="radio" name="type" ng-model="mode" value="edit" ng-disabled="isEditable" ng-change="changeType()"> Edit
                                        </label>
                                    <form>
                                        <label><input type="radio" name="options" ng-model="lang" ng-disabled="isEditable" ng-change="changeLanguage()" value="uk" > Ukr
                                        </label>
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" value="ru" ng-disabled="isEditable"  ng-change="changeLanguage()" > Rus
                                        </label>
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" value="en" ng-disabled="isEditable" ng-change="changeLanguage()"> Eng
                                        </label>
                                        <div class="form-group col-lg-10">
                                            <label for="title">Титул:</label>
                                                <input type="text" id="title" class="form-control " ng-change="setEditableStatus(true)" ng-model="item.title">
                                            <label for="synopsis">Краткое описание:</label>
                                                <input type="textarea" id="synopsis" maxlength="150" ng-change="setEditableStatus(true)" class="form-control" ng-model="item.synopsis">
                                        </div>
                                    <span class="label label-info pull-right">{{mode}}</span>
                                    <div text-angular ta-text-editor-class="form-content border-around clearfix" ng-change="setEditableStatus(true)" ta-html-editor-class="clearfix form-content border-around" ta-focussed-class="focussed" ng-model="item.content"></div>
                                    <button class="btn btn-default" ng-click="addPart()">Добавить часть новости</button>
                                    <button class="btn btn-danger" ng-click="cancel()">Отмена</button>
                                    <button type="submit"ng-show="mode === 'add'" class="btn btn-success" ng-click="addNews()">Добавить новость</button>
                                    <button ng-show="mode === 'edit'" class="btn btn-success" ng-click="update()">Обновить новость</button>                         
                                    <table ng-if="mode === 'edit'" class="table">
                                        <thead>
                                            <tr>
                                                <td>Заголовок</td>
                                                <td>Изменить</td>
                                                <td>Удалить</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in allNews">
                                                <td> {{ item.title }}</td>
                                                <td><button ng-click="updateNewsItem(item.id)" ng-disabled="isEditable" class="btn btn-warning">Изменить</button></td>
                                                <td><button ng-click="deleteNewsItem(item.id)" class="btn btn-danger">Удалить</button></td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            

                            <!--ПОЛЬЗОВАТЕЛИ!-->
                            <div role="tabpanel" id="users" class="tab-pane fade">
                                <h3>Users</h3>

                                <label >
                                            <input type="radio" name="level" ng-change="setUserMode('add')" ng-model="userMode" value="add" > Add
                                        </label>
                                        <label >
                                            <input type="radio" name="level" ng-change="setUserMode('edit')" ng-model="userMode" value="edit"> Edit
                                </label>

                                <form class="form">
                                    <label for="username">Username<input class="form-control" ng-change="isUserEditable = true" name="username" ng-model="newUser.username" type="text"></label>
                                    <label for="password">Password<input class="form-control" ng-change="isUserEditable = true" type="password" ng-model="newUser.password" name="password"></label>
                                    <label for="email">Email<input type="email" formnovalidate ng-model="newUser.email" class="form-control" ></label>
                                    
                                        <label >
                                            <input type="radio" name="level" ng-model="newUser.level" value="0" > Administrator
                                        </label>
                                        <label >
                                            <input type="radio" name="level" ng-model="newUser.level" value="1"> Moderator
                                        </label>

                                        <button class="btn btn-success" type="submit" ng-if="userMode === 'add'" ng-click="addUser()"> Добавить пользователя </button>
                                        <button class="btn btn-success" type="submit" ng-if="userMode === 'edit'" ng-click="changeUser()"> Изменить пользователя </button>
                                </form>
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Username</td>
                                                <td>Email</td>
                                                <td>Level</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in users">
                                                <td> {{ user.username }}</td>
                                                <td>{{  user.email  }}</td>
                                                <td>{{  user.level  }}</td>
                                                <td>
                                                    <button ng-click="updateUser(user)" ng-disabled="(userMode == 'add' && !isUserEditable)" class="btn btn-warning">Изменить</button>
                                                </td>
                                                <td>
                                                    <button ng-click="deleteUser(user.id)" class="btn btn-danger">Удалить</button>
                                                </td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                                
                            </div>



                            <!--КАРТИНКИ!!!!!!-->
                            <div role="tabpanel" id="groups" ng-controller="imagesController" class="tab-pane fade">
                                <h3>Images</h3>
                                <fotm action="'/objects/images/create.php'">
                                    <input type="file" name="photo" ng-model="files" multiple accept="image/*,image/jpeg"/><br/>    
                                    <button type="submit" class="btn btn-success" onsubmit="addImage()">Add image</button>
                                </fotm>
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Image</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="image in images">
                                                
                                                <td><img class="image-preview" ng-src="{{image.path}}" alt="lalka"></td>
                                                <td>
                                                    <button ng-click="deleteImage(image)" class="btn btn-danger">Удалить</button>
                                                </td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>

					</div>

	            </div>
	        </div>
		</div>