		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Факультет компьютерных наук и технологий</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#news" role="tab" data-toggle="tab">News</a></li>
                            <li><a data-toggle="tab" role="tab" data-target="#users">Users</a></li>
                            <li><a data-toggle="tab" role="tab" data-target="#groups">Groups</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" id="news" class="tab-pane fade in active">
                                <h3>News</h3>
                                <form action="">
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" ng-change="changeLanguage()" value="uk" > Ukr
                                        </label>
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" value="ru"  ng-change="changeLanguage()" > Rus
                                        </label>
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" value="en" ng-change="changeLanguage()"> Eng
                                        </label>
                                    </div>
                                    <div text-angular ta-text-editor-class="form-content border-around clearfix" ta-html-editor-class="clearfix form-content border-around" ta-focussed-class="focussed" ng-model="htmlVariable"></div>
                                    <button class="btn btn-default">Добавить часть новости</button>
                                    <button class="btn btn-default">Отмена</button>
                                    <button class="btn">Добавить новость</button>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Заголовок</td>
                                                <td>Изменить</td>
                                                <td>Удалить</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in allNews">
                                                <td> {{ item.title }}</td>
                                                <td><button ng-click="updateNewsItem(item.id)" class="btn btn-warning">Изменить</button></td>
                                                <td><button ng-click="deleteNewsItem(item.id)" class="btn btn-danger">Удалить</button></td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            

                            <!--ПОЛЬЗОВАТЕЛИ!-->
                            <div role="tabpanel" id="users" class="tab-pane fade">
                                <h3>Users</h3>
                                <p>Some content in menu 1.</p>
                            </div>



                            <!--ГРУППЫ!-->
                            <div role="tabpanel" id="groups" class="tab-pane fade">
                                <h3>Groups</h3>
                                <p>Some content in groups.</p>
                            </div>
                        </div>
                    </div>

					</div>

	            </div>
	        </div>
		</div>