		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Факультет компьютерных наук и технологий</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#news" role="tab" data-toggle="tab">News</a></li>
                            <li><a data-toggle="tab" role="tab" data-target="#users">Users</a></li>
                            <li><a data-toggle="tab" role="tab" data-target="#groups">Groups</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" id="news" class="tab-pane fade in active">
                                <h3>News</h3>
                                        <label >
                                            <input type="radio" name="type" ng-model="mode" value="add" ng-disabled="isEditable"  ng-change="changeType()" > Add
                                        </label>
                                        <label >
                                            <input type="radio" name="type" ng-model="mode" value="edit" ng-disabled="isEditable" ng-change="changeType()"> Edit
                                        </label>
                                    <form>
                                        <label><input type="radio" name="options" ng-model="lang" ng-disabled="isEditable" ng-change="changeLanguage()" value="uk" > Ukr
                                        </label>
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" value="ru" ng-disabled="isEditable"  ng-change="changeLanguage()" > Rus
                                        </label>
                                        <label >
                                            <input type="radio" name="options" ng-model="lang" value="en" ng-disabled="isEditable" ng-change="changeLanguage()"> Eng
                                        </label>
                                        <div class="form-group col-lg-10">
                                            <label for="title">Титул:</label>
                                                <input type="text" id="title" class="form-control " ng-change="setEditableStatus(true)" ng-model="item.title">
                                            <label for="synopsis">Краткое описание:</label>
                                                <input type="textarea" id="synopsis" maxlength="150" ng-change="setEditableStatus(true)" class="form-control" ng-model="item.synopsis">
                                        </div>
                                    <span class="label label-info pull-right">{{mode}}</span>
                                    <div text-angular ta-text-editor-class="form-content border-around clearfix" ng-change="setEditableStatus(true)" ta-html-editor-class="clearfix form-content border-around" ta-focussed-class="focussed" ng-model="item.content"></div>
                                    <button class="btn btn-default" ng-click="addPart()">Добавить часть новости</button>
                                    <button class="btn btn-danger" ng-click="cancel()">Отмена</button>
                                    <button type="submit"ng-show="mode === 'add'" class="btn btn-success" ng-click="addNews()">Добавить новость</button>
                                    <button ng-show="mode === 'edit'" class="btn btn-success" ng-click="update()">Обновить новость</button>                         
                                    <table ng-if="mode === 'edit'" class="table">
                                        <thead>
                                            <tr>
                                                <td>Заголовок</td>
                                                <td>Изменить</td>
                                                <td>Удалить</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in allNews">
                                                <td> {{ item.title }}</td>
                                                <td><button ng-click="updateNewsItem(item.id)" ng-disabled="isEditable" class="btn btn-warning">Изменить</button></td>
                                                <td><button ng-click="deleteNewsItem(item.id)" class="btn btn-danger">Удалить</button></td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            

                            <!--ПОЛЬЗОВАТЕЛИ!-->
                            <div role="tabpanel" id="users" class="tab-pane fade">
                                <h3>Users</h3>

                                <label >
                                            <input type="radio" name="level" ng-change="setUserMode('add')" ng-model="userMode" value="add" > Add
                                        </label>
                                        <label >
                                            <input type="radio" name="level" ng-change="setUserMode('edit')" ng-model="userMode" value="edit"> Edit
                                </label>

                                <form class="form">
                                    <label for="username">Username<input class="form-control" ng-change="isUserEditable = true" name="username" ng-model="newUser.username" type="text"></label>
                                    <label for="password">Password<input class="form-control" ng-change="isUserEditable = true" type="password" ng-model="newUser.password" name="password"></label>
                                    <label for="email">Email<input type="email" formnovalidate ng-model="newUser.email" class="form-control" ></label>
                                    
                                        <label >
                                            <input type="radio" name="level" ng-model="newUser.level" value="0" > Administrator
                                        </label>
                                        <label >
                                            <input type="radio" name="level" ng-model="newUser.level" value="1"> Moderator
                                        </label>

                                        <button class="btn btn-success" type="submit" ng-if="userMode === 'add'" ng-click="addUser()"> Добавить пользователя </button>
                                        <button class="btn btn-success" type="submit" ng-if="userMode === 'edit'" ng-click="changeUser()"> Изменить пользователя </button>
                                </form>
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Username</td>
                                                <td>Email</td>
                                                <td>Level</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in users">
                                                <td> {{ user.username }}</td>
                                                <td>{{  user.email  }}</td>
                                                <td>{{  user.level  }}</td>
                                                <td>
                                                    <button ng-click="updateUser(user)" ng-disabled="(userMode == 'add' && !isUserEditable)" class="btn btn-warning">Изменить</button>
                                                </td>
                                                <td>
                                                    <button ng-click="deleteUser(user.id)" class="btn btn-danger">Удалить</button>
                                                </td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                                
                            </div>



                            <!--КАРТИНКИ!!!!!!-->
                    <div role="tabpanel" id="groups" ng-controller="imagesController" class="tab-pane fade">
                                <h3>Images</h3>
                                <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                    <div class="col-md-9" style="margin-bottom: 40px">
                    <h2>Uploads only images (with canvas preview)</h2>
                    <h3>The queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>
                <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Image</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="image in images">
                                                
                                                <td><img class="image-preview" ng-src="{{image.path}}" alt="lalka"></td>
                                                <td>
                                                    <button ng-click="deleteImage(image)" class="btn btn-danger">Удалить</button>
                                                </td>                                        
                                            </tr>
                                        </tbody>
                                    </table>

            </div>
                                
                            </div>
                        </div>
                    </div>

					</div>

	            </div>
	        </div>
		</div>