		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href=".."><img src="../assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Аспирантура</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row science">
					<hr>
						<div class="row">
							<div class="col-md-5">
								<img src="../assets/img/asp.jpg" alt="">
							</div>
							<div class="col-md-7">
								<p>У ДВНЗ «Донецький національний технічний університет» діє аспірантура зі спеціальностей:</p>
								<ul>
									<li> 121 «Інженерія програмного забезпечення»</li>
									<li> 122 «Комп’ютерні науки та інформаційні технології»</li>
									<li> 123 «Комп’ютерна інженерія»</li>
								</ul>
								 <p>(галузь знань 12 «Інформаційні технології»).</p>
								 <p> Також діє спеціалізована рада Д 11.052.03 із захисту кандидатських та докторських дисертацій за спеціальностями:</p>
								 <ul>
								  	<li>05.13.05 «Комп’ютерні системи та компоненти»</li>
								  	<li>01.05.02 «Математичне моделювання та обчислювальні методи»</li>
								  </ul> 
							</div>
						</div>
						<hr>

					</div>

	            </div>
	        </div>
		</div>