		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'ASPIRANTUR_TITLE' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row science">
					<hr>
						<div class="row">
							<div class="col-md-5">
								<img src="../assets/img/asp.jpg" alt="aspirantur image">
							</div>
							<div class="col-md-7">
								<p>{{'AIT1' | translate}}:</p>
								<ul>
									<li> {{'AIT2' | translate}}</li>
									<li> {{'AIT3' | translate}}</li>
									<li> {{'AIT4' | translate}}</li>
								</ul>
								 <p>{{'AIT5' | translate}}.</p>
								 <p> {{'AIT6' | translate}}:</p>
								 <ul>
								  	<li>{{'AIT7' | translate}}</li>
								  	<li>{{'AIT8' | translate}}</li>
								  </ul> 
							</div>
						</div>
						<hr>

					</div>

	            </div>
	        </div>
		</div>