		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'CONSULTATIONS' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row">
						<div class="nav-align-center">
									<ul class="nav nav-pills" role="tablist">
										<li class="active">
											<a data-target="#ki" role="tab" data-toggle="tab">
												{{'KI' | translate}}
											</a>
										</li>
										<li>
				                            <a data-target="#pmi" role="tab" data-toggle="tab">
												{{'PMI' | translate}}
				                            </a>
				                        </li>
				                        <li>
				                            <a data-target="#kn" role="tab" data-toggle="tab">
				                                {{'KN' | translate}}
				                            </a>
				                        </li>
				                        <li>
											<a data-target="#ph" role="tab" data-toggle="tab">
												{{'PHILOSOPHY' | translate}}
											</a>
										</li>
				                    </ul>

				                    <div class="tab-content gallery">
										<div class="tab-pane active" id="ki">
				                            <div class="row">
												<object data="../assets/pdf/consultations/ki.pdf" type="application/pdf" width="100%" height="800px">
												  <p>{{'PDF_ERROR' | translate}} <a href="../assets/pdf/consultations/ki.pdf"> PDF!</a></p>
												</object>
				                            </div>
				                            <a href="../assets/pdf/consultations/ki.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> {{'DOWNLOAD' | translate}}</a>
				                        </div>
				                        <div class="tab-pane text-center" id="pmi">
											<div class="row">
												<object data="../assets/pdf/consultations/pmi.pdf" type="application/pdf" width="100%" height="800px">
												  <p>{{'PDF_ERROR' | translate}} <a href="../assets/pdf/consultations/pmi.pdf">PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/consultations/pmi.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> {{'DOWNLOAD' | translate}}</a>
				                        </div>
										<div class="tab-pane text-center" id="kn">
											<div class="row">
												<object data="../assets/pdf/consultations/kn.pdf" type="application/pdf" width="100%" height="800px">
												  <p>{{'PDF_ERROR' | translate}} <a href="../assets/pdf/consultations/kn.pdf">PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/consultations/kn.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> {{'DOWNLOAD' | translate}}</a>
										</div>
										<div class="tab-pane text-center" id="ph">
											<div class="row">
											<object data="../assets/pdf/consultations/ph.pdf" type="application/pdf" width="100%" height="800px">
												  <p>{{'PDF_ERROR' | translate}} <a href="../assets/pdf/consultations/ph.pdf">PDF!</a></p>
												</object>
												</div>
												<a href="../assets/pdf/consultations/ph.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> {{'DOWNLOAD' | translate}}</a>
										</div>
										


				                    </div>
								</div>

					</div>

	            </div>
	        </div>
		</div>