		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="/assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'DEAN' | translate }}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row text-center">
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<h3>{{'DEAN_TITLE' | translate }}</h3>
								<p>{{'DEAN_STATUS' | translate }}</p>
								<p><strong>{{'DEAN_NAME' | translate }}</strong></p>
								<p>{{'DEAN_EMAIL' | translate }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-md-offset-2">
								<h3>{{'VICE_DEAN' | translate }}</h3>
								<p>{{'VICE_DEAN_STATUS' | translate }}</p>
								<p><strong>{{'VICE_DEAN_NAME' | translate }}</strong></p>
								<p>{{'VICE_DEAN_EMAIL' | translate }}</p>
							</div>
							<div class="col-md-3 col-md-offset-2">
								<h3>{{'VICE_WS_DEAN' | translate }}</h3>
								<p>{{'VICE_WS_DEAN_STATUS' | translate }}</p>
								<p><strong>{{'VICE_WS_DEAN_NAME' | translate }}</strong></p>
								<p>{{'VICE_WS_DEAN_EMAIL' | translate }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-md-offset-2">
								<h3>{{'DISPATCHER' | translate}}</h3>
								<p><strong>{{'DISPATCHER_NAME' | translate}}</strong></p>
								<p>{{'DISPATCHER_EMAIL' | translate}}</p>
							</div>
							<div class="col-md-3 col-md-offset-2">
								<h3>{{'SECRETARY' | translate}}</h3>
								<p><strong>{{'SECRETARY_NAME' | translate}}</strong></p>
								<p>{{'SECRETARY_EMAIL' | translate}}</p>
							</div>
						</div>  

					</div>
					<hr>

	            </div>
	        </div>
		</div>