		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="/assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'DOCUMENTS' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row">
						<table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI1' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/polog-pro-ponovlennya-perevody-i-vidrah.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI2' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/dipl_vidzn.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI3' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/perevedenna_budget.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI4' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/polog_pro_sem_kontrol.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI5' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/ek2015.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI6' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1050.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI7' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1047.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI8' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1045.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI9' | translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/check.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>{{'DI10' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>

					</div>

	            </div>
	        </div>
		</div>