		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href=".."><img src="../assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Документы</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row">
						<table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Положення про організацію освітнього процесу у ДонНТУ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/polog-pro-ponovlennya-perevody-i-vidrah.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Положення про поновлення, переводи і відрахування студентів ДонНТУ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/dipl_vidzn.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Положення про диплом з відзнакою ДонНТУ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/perevedenna_budget.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Положення про переведення на вакантні бюджетні місця ДонНТУ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/polog_pro_sem_kontrol.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Положення про семестровий контроль у ДВНЗ «Донецький Національний Технічний Університет»</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/ek2015.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Положення про порядок створення та організацію роботи Екзаменаційної комісії в ДонНТУ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1050.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>“Деякі питання стипендіального забезпечення” ПОСТАНОВА від 28 грудня 2016 р. № 1050</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1047.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>“Про розміри стипендій у державних та комунальних навчальних закладах, наукових установах” ПОСТАНОВА від 28 грудня 2016 р. № 1047</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/p1045.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>“Деякі питання виплати соціальних стипендій студентам (курсантам) вищих навчальних закладів” ПОСТАНОВА від 28 грудня 2016 р. № 1045</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="../assets/pdf/documents/check.pdf" class="btn btn-primary btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
                                        <td>Квитанція на оплату навчання</td>
                                    </tr>
                                </tbody>
                            </table>

					</div>

	            </div>
	        </div>
		</div>