		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="index.html"><img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Історія</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					<div class="row stylish-panel">
				      	
				      	<ul class="timeline">
						    <li>
						      <div class="timeline-badge">1959</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Електротехнічний факультет</h4>
						        </div>
						        <div class="timeline-body">
						          <p>У 1959 році в Донецькому індустріальному інституті був створений електротехнічний факультет, першим деканом якого став Матвій Борисович Шумяцкий (1912-1994). За його ініціативи та за його активної участі багато що було зроблено для створення майбутнього факультету обчислювальної техніки та інформатики.</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge warning">1961</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Перша лабораторна робота по курсу "Математичні машини і програмування”</h4>
						        </div>
						        <div class="timeline-body">
						          <p>Важливою віхою в історії факультету та інституту явився 1961, коли для студентів усіх спеціальностей інституту почав читатися курс “Математичні машини і програмування”, підготовку якого здійснили доцент С.Г. Буачідзе та асистенти В.І. Назаренко і В.А. Святний. Придбання в цьому ж році обчислювальної машини “Мінськ-12” поклало початок обчислювальному центру ДПІ.</p>
						        </div>
						      </div>
						    </li>
						    <li>
						      <div class="timeline-badge success">1962</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Перша науково-дослідна робота в галузі інформатики</h4>
						        </div>
						        <div class="timeline-body">
						          <p>У 1962 р. була виконана перша науково-дослідна робота в галузі інформатики по створенню систем управління із застосуванням керуючих ЕОМ.</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge">1963</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Кафедра обчислювальної техніки</h4>
						        </div>
						        <div class="timeline-body">
						          <p>У 1963 р була створена кафедра обчислювальної техніки (ОТ), яку очолив доцент Л.П. Фельдман. У 1965 р на цій кафедрі була відкрита спеціальність “Математичні лічильно-вирішальні прилади та пристрої”, а в 1971 р – “Прикладна математика”.</p>
						        </div>
						      </div>
						    </li>
						    <li>
						      <div class="timeline-badge danger">1972</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Факультет обчислювальної техніки та автоматизованих систем управління </h4>
						        </div>
						        <div class="timeline-body">
						          <p>У зв’язку з відкриттям нових спеціальностей і швидким збільшенням чисельності студентів у 1972 р електротехнічний факультет був розділений на два – енергетичний та факультет обчислювальної техніки та автоматизованих систем управління (ФОТ і АСУ). Деканом ФОТ і АСУ був обраний В.А. Святний. У складі цього факультету були випускаючі кафедри: обчислювальної техніки, АСУ, автоматики і телемеханіки. У 1974 р для підготовки спеціальності “Прикладна математика” створена кафедра прикладної математики на чолі з професором, доктором фізико-математичних наук Є.І. Харламовою.
						          У 1975 р кафедра ОТ була переіменована в кафедру ЕОМ, а для підготовки студентів усіх спеціальностей інституту в галузі інформаційних технологій була створена кафедра обчислювальної техніки в інженерних економічних розрахунках.</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge primary ">1977</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Факультет обчислювальної техніки</h4>
						        </div>
						        <div class="timeline-body">
						          <p>У 1977 р на базі єдиного факультету “ОТ і АСУ” створюється два нових: факультет ОТ і факультет АСУ. Деканом факультету ОТ став В.І. Калашников, якого з 1981 р змінив професор кафедри ЕОМ В.А. Святний.</p>
						        </div>
						      </div>
						    </li>
						    <li>
						      <div class="timeline-badge success">1992</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Факультет обчислювальної техніки та інформатики</h4>
						        </div>
						        <div class="timeline-body">
						          <p>У 1992 р факультет ОТ переіменований у факультет обчислювальної техніки та інформатики, а кафедра ОТ і ІЕР перейменована у кафедру обчислювальної математики і програмування. У 1994 р на факультеті був відкритий прийом на спеціальність “Інформаційні системи в менеджменті”, замість якої за переліком 1997 в 1998 р відкрито прийом за спеціальністю “Економічна кібернетика”. У 1999 році вперше розпочато прийом на спеціальність “Системне програмування”.</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge purple">2007</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">Факультет комп’ютерних наук і технологій</h4>
						        </div>
						        <div class="timeline-body">
						          <p>Факультет ОТІ перейменований у факультет комп’ютерних наук і технологій.</p>
						        </div>
						      </div>
						    </li>
						  </ul>
				    </div>

					
	            </div>
	        </div>
		</div>