		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="/assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'HISTORY' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					<div class="row stylish-panel">
				      	
				      	<ul class="timeline">
						    <li>
						      <div class="timeline-badge">1959</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'ET_FACULTY_TITLE' | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'ET_FACULTY' | translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge warning">1961</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'FIRST_LAB_TITLE' | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'FIRST_LAB' | translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li>
						      <div class="timeline-badge success">1962</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'FIRST_SCIENCE_TITLE' | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'FIRST_SCIENCE' | translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge">1963</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'CT_CAF_TITLE' | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'CT_CAF' |translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li>
						      <div class="timeline-badge danger">1972</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'CTAI_FACULTY_TITLE' | translate}} </h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'CTAI_FACULTY' | translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge primary ">1977</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'CT_FACULTY_TITLE'  | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'CT_FACULTY' | translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li>
						      <div class="timeline-badge success">1992</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'CTI_FACULTY_TITLE' | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'CTI_FACULTY' | translate}}</p>
						        </div>
						      </div>
						    </li>
						    <li class="timeline-inverted">
						      <div class="timeline-badge purple">2007</div>
						      <div class="timeline-panel">
						        <div class="timeline-heading">
						          <h4 class="timeline-title">{{'TITLE' | translate}}</h4>
						        </div>
						        <div class="timeline-body">
						          <p>{{'CST_FACULTY' | translate}}</p>
						        </div>
						      </div>
						    </li>
						  </ul>
				    </div>

					
	            </div>
	        </div>
		</div>