        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <a href="/"><img src="/assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
                            </div>
                            <div class="name">
                                <h1 class="title">{{'KN_FACULTY' | translate}}</h1>
                                <h6></h6>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="row text-center">
                            <div class="col-md-4 col-md-offset-4">
                                <h3>{{'HOD' | translate}}</h3>
                                <p>{{'KN_HEAD_STATUS' | translate}}</p>
                                <p><strong>{{'KN_HEAD' | translate}}</strong></p>
                                <p>{{'KN_HEAD_EMAIL' | translate}}</p>
                            </div>
                        </div>
                        <hr>
                        <p>{{'SPHERES' | translate}}</p>
                        <ul>
                            <li>{{'KNS1' | translate}}</li>
                            <li>{{'KNS2' | translate}}</li>
                            <li>{{'KNS3' | translate}}</li>
                            <li>{{'KNS4' | translate}}</li>
                            <li>{{'KNS5' | translate}}</li>
                        </ul>
                        <p>{{'MAIN_DISCIPLINES' | translate }}</p>
                        <ul>
                            <li>{{'KNMD1' | translate}}</li>
                            <li>{{'KNMD2' | translate}}</li>
                            <li>{{'KNMD3' | translate}}</li>
                            <li>{{'KNMD4' | translate}}</li>
                            <li>{{'KNMD5' | translate}}</li>
                            <li>{{'KNMD6' | translate}}</li>
                        </ul>
                        <hr>
                    </div>

                </div>
            </div>
        </div>