		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Факультет комп'ютернах наук та технологій</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					<div class="row stylish-panel">
				      	<div class="col-md-3">
					        <div>
					          <a href="structure/ki/"><img src="assets/img/8.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail">
					          <h3><a href="structure/ki/">Комп'ютерна інженерія</a><br><br></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="#!/pmi"><img src="assets/img/m2.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail">
					          <h3><a href="#!/pmi">Прикладна математика та інформатика</a></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="#!/kn"><img src="assets/img/2.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail">
					          <h3><a href="#!/kn">Комп'ютерні науки</a><br><br></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="#!/philosophy"><img src="assets/img/44.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail"></a>
					          <h3><a href="#!/philosophy">Філософія</a><br><br><br></h3>
					        </div>
				      	</div>
				    </div>
				</div>
				<div class="container-fluid">
					<div class="row colored" >
						<div class="news-wrap">
						
							<div class="row">
								
								<div class="col-md-12 lead-news">
									<div class="row">
										<div class="col-md-8">
											<img ng-src="{{lastNews[0].full_cover}}" />
										</div>
										<div class="col-md-4">
											<div>
												<h3>{{lastNews[3].title}}</h3>
												<p ng-bind-html="lastNews[0].synopsis"></p>
													<a href="#!/news/{{lastNews[0].id}}" class="btn btn-inverse text-center">Подробнее...</a>
											</div>
										</div>
									</div>
								</div>
							
								<div ng-repeat="item in smallLastNews" class="col-md-4">
									<img ng-src="{{item.cover}}" />
									<div>
										<h4><a href="#!/news/{{item.id}}">{{item.title}}</a></h4>
									</div>
								</div>
							
									
								</div>
								<div class="col-md-12">
									<a href="#!/news" class="btn btn-inverse text-center">Усі новини</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row stylish-panel levels">
						<h2>Рівні освіти</h2>
						<p>Рівні освіти, яких можуть досягти студенти, котрі навчаються на факультеті комп'ютерних наук та технологій</p>
							<br>
						<div class="col-md-4 col-sm-12">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-book fa-stack-1x"></i>
                                    </span>
							<h3><a href="#!/specialties">Бакалавріат</a></h3>
							<p>Даний рівень освіти дозволяє отримати базову вищу освіту та успішно реалізуватися у кар'єрному плані</p>
						</div>
						<div class="col-md-4 col-sm-6">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-graduation-cap fa-stack-1x"></i>
                                    </span>
							<h3><a href="#!/specialties">Магістратура</a></h3>
							<p>Рівень освіти, на которому студент має можливість не тільки стати першокласним спеціалістом, але і займатися наукою та викладацькою діяльністю.</p>
						</div>
						<div class="col-md-4 col-sm-6">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-trophy fa-stack-1x"></i>
                                    </span>
							<h3><a href="#!/aspirantur">Аспірантура</a></h3>
							<p>
								Аспірантура - це вибір людей, котрі ніколи не зупиняються на досягнутому! Адже немає межі для досконалості</p>
						</div>
					</div>




					<div class="row stylish-panel">
						<div class="player">
					     	<video src="assets/video/fknt.mp4" controls poster="assets/img/1313.jpg" onclick="togglePlay();"></video>
					   </div>

					</div>

	            </div>
	        </div>
		</div>