		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="/assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{ 'TITLE' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					<div class="row stylish-panel">
				      	<div class="col-md-3">
					        <div>
					          <a href="/ki"><img src="assets/img/8.jpg" alt="Computer engineering" width="150" class="img-circle img-thumbnail">
					          <h3><a href="/ki">{{'KI' | translate}}</a><br><br></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="/pmi"><img src="assets/img/m2.jpg" alt="Mathematics" width="150" class="img-circle img-thumbnail">
					          <h3><a href="/pmi">{{'PMI'  | translate}}</a></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="/kn"><img src="assets/img/2.jpg" alt="Computer science" width="150" class="img-circle img-thumbnail">
					          <h3><a href="/kn">{{'KN'  | translate}}</a><br><br></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="/philosophy"><img src="assets/img/44.jpg" alt="Philosophy" width="150" class="img-circle img-thumbnail"></a>
					          <h3><a href="/philosophy">{{'PHILOSOPHY'  | translate}}</a><br><br><br></h3>
					        </div>
				      	</div>
				    </div>
				</div>
				<div class="container-fluid">
					<div class="row colored" >
						<div class="news-wrap">
						
							<div class="row">
								<div class="col-md-12 lead-news">
									<div class="row">
										<div class="col-md-7">
											<img ng-src="{{lastNews[0].full_cover}}" />
										</div>
										<div class="col-md-5">
											<div>
												<h3>{{lastNews[0].title}}</h3>
												<p ng-bind-html="lastNews[0].synopsis"></p>
													<a href="/news/{{lastNews[0].id}}" class="btn btn-inverse text-center">{{'ONE_NEWS_BUTTON'  | translate}}</a>
											</div>
										</div>
									</div>
								</div>
							
								<div ng-repeat="item in smallLastNews" class="col-md-4 news-cover">
									<img ng-src="{{item.cover}}" />
									<div>
										<h4><a href="/news/{{item.id}}">{{item.title}}</a></h4>
									</div>
								</div>
							
									
								</div>
								<div class="col-md-12">
									<a href="/news" class="btn btn-inverse text-center">{{'ALL_NEWS'  | translate}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row stylish-panel levels">
						<h2>{{'LEVELS_TITLE'  | translate}}</h2>
						<p>{{'LEVELS'  | translate}}</p>
							<br>
						<div class="col-md-4 col-sm-12">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-book fa-stack-1x"></i>
                                    </span>
							<h3><a ng-href="/specialties/bachelor">{{'BACHELOR_TITLE'  | translate}}</a></h3>
							<p>{{'BACHELOR'  | translate}}</p>
						</div>
						<div class="col-md-4 col-sm-6">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-graduation-cap fa-stack-1x"></i>
                                    </span>
							<h3><a href="/specialties/master">{{'MASTER_TITLE' | translate}}</a></h3>
							<p>{{'MASTER'  | translate}}</p>
						</div>
						<div class="col-md-4 col-sm-6">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-trophy fa-stack-1x"></i>
                                    </span>
							<h3><a href="/aspirantur">{{'ASPIRANTUR_TITLE'  | translate}}</a></h3>
							<p>
								{{'ASPIRANTUR'  | translate}}
						</div>
					</div>




					<div class="row stylish-panel">
						<div class="player">
					     	<my-video></my-video>
					   </div>
					</div>

	            </div>
	        </div>
		</div>