		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="#"><img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Факультет компьютерных наук и технологий</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					<div class="row stylish-panel">
				      	<div class="col-md-3">
					        <div>
					          <a href="#"><img src="assets/img/8.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail">
					          <h3><a href="structure/ki/">Компьютерная инженерия</a><br><br></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="structure/pmi.html"><img src="assets/img/m2.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail">
					          <h3><a href="#">Прикладная математика и информатика</a></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="structure/kn.html"><img src="assets/img/2.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail">
					          <h3><a href="#">Компьютерные науки</a><br><br></h3>
					        </div>
				      	</div>
				      	<div class="col-md-3">
					        <div>
					          <a href="structure/philosophy.html"><img src="assets/img/44.jpg" alt="Texto Alternativo" width="150" class="img-circle img-thumbnail"></a>
					          <h3><a href="#">Философия</a><br><br><br></h3>
					        </div>
				      	</div>
				    </div>

					<div class="row colored" >
						<div class="news-wrap header header-filter" style="background-image: url('assets/img/12.jpg');">
						
							<div class="col-md-12"><h2>Последние новости</h2></div>
							<div class="col-md-12 news">

								<div>
									<div class="lead-news">
										<div>
											<h3>Бла-бла</h3>
											<p>Какое-то дерьмо тут происходило</p>
										</div>
									</div>
									
								</div>
							
								<div>
									<img src="http://lorempixel.com/400/200/people/2" />
									<div>
										<h4>Старое бла-бла</h4>
										<p>Какое-то дерьмо тут происходило</p>
									</div>
									
								</div>
							
								<div>
									<img src="http://lorempixel.com/400/200/people/3" />
									<div>
										<h4>Древнее бла-бла</h4>
										<p>Какое-то дерьмо тут происходило</p>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="row stylish-panel levels">
						<h2>Уровни обучения</h2>
						<p>Уровни обучения, которых могут достигнуть студенты, которые учатся на факультете компьютерных наук и технологий</p>
							<br>
						<div class="col-md-4 col-sm-12">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-book fa-stack-1x"></i>
                                    </span>
							<h3>Бакалавриат</h3>
							<p>Данный уровень обучения позволяет получить базовое высшее образование и успешно реализоваться в карьерном плане</p>
						</div>
						<div class="col-md-4 col-sm-6">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-graduation-cap fa-stack-1x"></i>
                                    </span>
							<h3>Магистратура</h3>
							<p>Уровень образования, на котором студент имеет возможность не только стать первоклассным специалистом, но и заниматься научной и преподавательской деятельностью</p>
						</div>
						<div class="col-md-4 col-sm-6">
						<span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-trophy fa-stack-1x"></i>
                                    </span>
							<h3>Аспирантура</h3>
							<p>Аспирантура - это выбор людей, которые никогда не останавливаются на достигнутом! Ведь нет предела совершенству</p>
						</div>
					</div>




					<div class="row stylish-panel">
						<div class="player">
					     	<video src="assets/video/fknt.mp4" controls poster="assets/img/1313.jpg" onclick="togglePlay();"></video>
					   </div>

					</div>

	            </div>
	        </div>
		</div>