

		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	            	<div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="index.html"><img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Новини</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>
					<hr>
	                <div class="row news-page">
	                	<div class="col-md-12 lead">
	                		<div class="row">
	                			<div class="col-md-8"><img src="{{firstNews.full_cover}}" alt="Texto Alternativo"></div>
	                			<div class="col-md-4">
		                			<h2>{{firstNews.title}}</h2>
		                			<p ng-bind-html="firstNews.synopsis"></p>
		                			<a href="news-item.html" class="btn btn-primary">Дальше...</a>
		                		</div>
	                		</div>
	                	</div>
	                	<div ng-repeat="item in news" class="col-md-4 news-item">
	                		<img src="{{item.cover}}" alt="Texto Alternativo">
	                		<h2>{{item.title}}</h2>
	                		<a href="#!/news/{{$index}}" class="btn btn-primary">Дальше...</a>
	                	</div>
	                </div>
					<hr>
	            </div>
	        </div>
		</div>