		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'ORGANIZATIONS' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row organizations">
						<div class="row">
							
							<div class="row">
								<div class="col-md-3">
									<img class="img-circle img-responsive" src="../assets/img/stud.jpg" alt="Student's cooperation'">
								</div>
								<div class="col-md-9">
								<h2>{{'SO_TITLE' | translate}}</h2>
									<p>{{'SO_DESCRIPTION' | translate}}</p>
									<p><strong>{{'SO_HEAD' | translate}}</strong></p>
									<p><em>{{'SO_HEAD_STATUS' | translate}}</em></p>
									<p> <i class="fa fa-phone" aria-hidden="true"></i> +38 (095) 836 44 15, <a href="mailto:penar94@mail.ru"><i class="fa fa-envelope" aria-hidden="true"></i> penar94@mail.ru</a></p>	
									<br>
									<p><strong>{{'SO_FAC_HEAD' | translate}}</strong></p>
									<p><em>{{'SO_FAC_HEAD_STATUS' | translate}}</em></p>
									<p> <i class="fa fa-phone" aria-hidden="true"></i> +38 (099) 229 89 38, <a href="mailto:artem.liubymov@student.donntu.edu.ua"><i class="fa fa-envelope" aria-hidden="true"></i> artem.liubymov@student.donntu.edu.ua</a></p>							
								</div>
							</div>
						</div>
						<div class="row">
							
							<div class="row">
								<div class="col-md-3">
									<img class="img-circle img-responsive" src="../assets/img/radio.jpg" alt="Student's Radio">
								</div>
								<div class="col-md-9">
								<h2>StudRadio</h2>
									<p>{{'SR_DESCRIPTION' | translate}}</p>
									<p><strong>{{'SR_HEAD' | translate}}</strong></p>
									<p><em>{{'SO_HEAD_STATUS' | translate}}</em></p>
									<p><a href="mailto:semyon.loiko@yandex.ua "><i class="fa fa-envelope" aria-hidden="true"></i> semyon.loiko@yandex.ua </a></p>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-6">
								<script type="text/javascript" src="//vk.com/js/api/openapi.js?141"></script>
								<div class="group_center">
									<!-- VK Widget -->
									<div id="stud_group"></div>
									<script type="text/javascript">
									VK.Widgets.Group("stud_group", {mode: 3, no_cover: 1, width: "320", color3: '523A9A'}, 138114122);
									</script>
								</div>
							</div>
							<div class="col-md-6">
								<div class="group_center">
									<!-- VK Widget -->
									<div id="radio_group"></div>
									<script type="text/javascript">
									VK.Widgets.Group("radio_group", {mode: 3, no_cover: 1, width: "320", color3: '523A9A'}, 133148961);
									</script>
								</div>
							</div>

						</div>
						<hr>
					</div>

	            </div>
	        </div>
		</div>