        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
                            </div>
                            <div class="name">
                                <h1 class="title">Кафедра філософії</h1>
                                <h6></h6>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="row text-center">
                            <div class="col-md-4 col-md-offset-4">
                                <h3>Завідуючий кафедрою</h3>
                                <p>д.богосл.н, к.філос.н., проф.</p>
                                <p><strong>Микола Нікульчев</strong></p>
                                <p>mykola.nikulchev@donntu.edu.ua</p>
                            </div>
                        </div>
                        <hr>
                        <p>Сфери діяльності:</p> 
                        <ul>
                            <li>продовження навчання в магістратурі, аспірантурі та докторантурі за філософськими спеціальностями;</li>
                            <li>викладацька діяльність;</li>
                            <li>консультативна діяльність у різних галузях науки, освіти і
культури.</li>
                        </ul>
                        <p>Основні дисципліни:</p>
                        <ul>
                            <li>повний курс з історії філософії (вивчаються за періодами протягом всього курсу навчання);</li>
                            <li>історія філософії України;</li>
                            <li>історія філософії Росії;</li>
                            <li>практична та теоретична філософія;</li>
                            <li>логіка (традиційна, класична та некласична);</li>
                            <li>історія релігій.</li>
                        </ul>
                        <hr>
                    </div>

                </div>
            </div>
        </div>