		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Робочі плани</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>



				<div class="row schedule">
						<div class="nav-align-center">
							<ul class="nav nav-tabs">
							  <li ng-repeat="item in works" ng-if="item.pills.length" ng-class="{active:!$index}"><a data-toggle="tab" data-target="#tab{{$index}}">{{item.tabName.uk}}</a></li>							  
							</ul>
							<br>
							<div class="tab-content">
							  	<div id="tab{{$index}}" ng-if="item.pills.length" ng-repeat="item in works" ng-class="{active:!$index}" class="tab-pane fade in">
							    	<ul class="nav nav-pills schedule" role="tablist">
										<li ng-class="{active:!$index}" ng-repeat="unit in item.pills">
				                            <a data-target="#{{unit.pdf.slice(0,unit.pdf.length-4)}}" role="tab" data-toggle="tab">
				                                {{unit.group}}
				                            </a>
				                        </li>
									</ul>
									<div class="tab-content gallery">
										<div  ng-repeat="unit in item.pills" ng-class="{active:!$index}" class="tab-pane" id="{{unit.pdf.slice(0,unit.pdf.length-4)}}">
				                            <div class="row">
												<object data="{{'/assets/pdf/plans/' + unit.pdf}}" type="application/pdf" width="100%" height="800px">
												  <p>Файл не може відобразитися, дивіться <a ng-href="{{unit.pdf}}">PDF!</a></p>
												</object>
				                            </div>
				                            <a href="../assets/pdf/schedule/ki13a.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Завантажити</a>
				                        </div>
									
				                    </div>
								</div>
								<!--       -->
							  	</div>
							</div>
									
										

				                    
						</div>

	            </div>
	        </div>
		</div>