        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
                            </div>
                            <div class="name">
                                <h1 class="title">Кафедра прикладної математики та інформатики</h1>
                                <h6></h6>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="row text-center">
                            <div class="col-md-4 col-md-offset-4">
                                <h3>Завідуючий кафедрою</h3>
                                <p>д.т.н., проф. </p>
                                <p><strong>Ольга Дмитрієва</strong></p>
                                <p>olha.dmytriieva@donntu.edu.ua</p>
                            </div>
                        </div>
                        <hr>
                        <p>Сфери діяльності:</p>
                        <ul>
                            <li>розробка, використання і супровід алгоритмічного та програмного забезпечення інформаційних систем;</li>
                            <li>проектування і розробка сучасних прикладних пакетів, баз даних і знань;</li>
                            <li>впровадження інформаційних технологій в задачах управління та прийняття рішень.</li>
                        </ul>
                        <p>Основні дисципліни:</p>
                        <ul>
                            <li>мови та технології програмування;</li>
                            <li>методології, технології та середовища проектування, моделювання, розробки та тестування програмного забезпечення.</li>
                        </ul>
                        <hr>
                    </div>

                </div>
            </div>
        </div>