		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Графік навчального процесу</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row">
						<div class="col-md-6">
							<table class="table">
							    <thead>
							        <tr>
							            <th></th>
							            <th>Денна форма</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-1.pdf" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Перший курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-2.pdf" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Другий курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-3.pdf" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Третій курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-4.pdf" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Четвертий курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-ms1.pdf" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Магістри 1-го року, спеціалісти</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-m2.pdf" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Магістри 2-го року</td>
							        </tr>
							    </tbody>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table">
							    <thead>
							        <tr>
							            <th></th>
							            <th>Заочна форма</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-1.pdf" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Перший курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-2.pdf" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Другий курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-3.pdf" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Третій курс</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="../assets/pdf/process/fulltime-4.pdf" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>Четвертий курс</td>
							        </tr>
							    </tbody>
							</table>
						</div>

					</div>

	            </div>
	        </div>
		</div>