		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'GRAPHICS' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row">
						<div class="col-md-6">
							<table class="table">
							    <thead>
							        <tr>
							            <th></th>
							            <th>{{'DAYFORM' | translate}}</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-1.pdf" target="_blank" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'1COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-2.pdf" target="_blank" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'2COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-3.pdf" target="_blank" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'3COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-4.pdf" target="_blank" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'4COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-ms1.pdf" target="_blank" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'5COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-m2.pdf" target="_blank" class="btn  btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'6COURSE' | translate}}</td>
							        </tr>
							    </tbody>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table">
							    <thead>
							        <tr>
							            <th></th>
							            <th>{{'NIGHTFORM' | translate}}</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-1.pdf" target="_blank" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'1COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-2.pdf" target="_blank" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'2COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-3.pdf" target="_blank" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'3COURSE' | translate}}</td>
							        </tr>
							        <tr>
							            <td class="text-center"><a href="/assets/pdf/process/fulltime-4.pdf" target="_blank" class="btn btn-fab btn-fab-mini btn-round"><i class="material-icons">&#xE2C4;</i></a></td>
							            <td>{{'4COURSE' | translate}}</td>
							        </tr>
							    </tbody>
							</table>
						</div>

					</div>

	            </div>
	        </div>
		</div>