		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Расписание занятий</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row schedule">
						<div class="nav-align-center">
							<ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" href="#ki">Компьютерная инженерия</a></li>
							  <li><a data-toggle="tab" href="#kn">Компьютерные науки</a></li>
							  <li><a data-toggle="tab" href="#pmi">Прикладная математика и информатика</a></li>
							  <li><a data-toggle="tab" href="#phil">Философия</a></li>
							  <li><a data-toggle="tab" href="#remote">Заочники</a></li>
							  <li><a data-toggle="tab" href="#teachers">Преподаватели</a></li>
							</ul>
							<br>
							<div class="tab-content">
							  	<div id="ki" class="tab-pane fade in active">
							    	<ul class="nav nav-pills schedule" role="tablist">
										<li class="active">
				                            <a href="#ki16a" role="tab" data-toggle="tab">
				                                КИ-16а
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#ki15" role="tab" data-toggle="tab">
												КИ-15
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#ki14a" role="tab" data-toggle="tab">
				                                КИ-14а
				                            </a>
				                        </li>
				                        <li>
											<a href="#ki14b" role="tab" data-toggle="tab">
												КИ-14б
											</a>
										</li>
										<li>
											<a href="#ki13a" role="tab" data-toggle="tab">
												КИ-13а
											</a>
										</li>
										<li>
				                            <a href="#ki13b" role="tab" data-toggle="tab">
												КИ-13б
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#kim16" role="tab" data-toggle="tab">
												КИм-16
				                            </a>
				                        </li>
				                        <li>
											<a href="#mikm16a" role="tab" data-toggle="tab">
												МИКм-16а
											</a>
										</li>
									</ul>
									<div class="tab-content gallery">
										<div class="tab-pane active" id="ki13a">
				                            <div class="row">
												<object data="../assets/pdf/schedule/ki13a.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ki13a.pdf">to the PDF!</a></p>
												</object>
				                            </div>
				                            <a href="../assets/pdf/schedule/ki13a.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
				                        <div class="tab-pane text-center" id="ki13b">
											<div class="row">
												<object data="../assets/pdf/schedule/ki13b.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ki13b.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ki13b.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
										<div class="tab-pane text-center" id="ki14a">
											<div class="row">
												<object data="../assets/pdf/schedule/ki14a.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ki14a.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ki14a.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="ki14b">
											<div class="row">
											<object data="../assets/pdf/schedule/ki14b.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ki14b.pdf">to the PDF!</a></p>
												</object>
												</div>
												<a href="../assets/pdf/schedule/ki14b.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="ki15">
											<div class="row">
											<object data="../assets/pdf/schedule/ki15.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ki15.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ki15.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="ki16a">
											<div class="row">
											<object data="../assets/pdf/schedule/ki16a.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ki16a.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ki16a.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="kim16">
											<div class="row">
											<object data="../assets/pdf/schedule/kim16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/kim16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/kim16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="mikm16a">
											<div class="row">
											<object data="../assets/pdf/schedule/mikm16a.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/mikm16a.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/mikm16a.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
				                    </div>
								</div>

								<div id="kn" class="tab-pane fade">
							    	<ul class="nav nav-pills schedule" role="tablist">
										
				                        <li  class="active">
											<a href="#kn16" role="tab" data-toggle="tab">
												КН-16
											</a>
										</li>
										<li>
											<a href="#kn15" role="tab" data-toggle="tab">
												КН-15
											</a>
										</li>
										<li>
											<a href="#kn14" role="tab" data-toggle="tab">
												КН-14
											</a>
										</li>
				                        <li>
											<a href="#kn13a" role="tab" data-toggle="tab">
												КН-13а
											</a>
										</li>
										<li>
											<a href="#kn13b" role="tab" data-toggle="tab">
												КН-13б
											</a>
										</li>
				                       <li>
				                            <a href="#knm16" role="tab" data-toggle="tab">
				                                КНм-16
				                            </a>
				                        </li>
				                    </ul>
				                    <div class="tab-content gallery">
										<div class="tab-pane text-center" id="kn13a">
											<div class="row">
											<object data="../assets/pdf/schedule/kn13a.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/kn13a.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/kn13a.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="kn13b">
											<div class="row">
											<object data="../assets/pdf/schedule/kn13b.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/kn13b.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/kn13b.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="kn14">
											<div class="row">
											<object data="../assets/pdf/schedule/kn14.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/kn14.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/kn14.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="kn15">
											<div class="row">
											<object data="../assets/pdf/schedule/kn15.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/kn15.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/kn15.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="kn16">
											<div class="row">
											<object data="../assets/pdf/schedule/kn16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/kn16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/kn16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="knm16">
											<div class="row">
											<object data="../assets/pdf/schedule/knm16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/knm16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/knm16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
									</div>
								</div>
								<div id="pmi" class="tab-pane fade">
							  		<ul class="nav nav-pills schedule" role="tablist">
										<li class="active">
											<a href="#ipz16" role="tab" data-toggle="tab">
												ИПЗ-16
											</a>
										</li>
										<li>
											<a href="#pi15" role="tab" data-toggle="tab">
												ПИ-15
											</a>
										</li>
				                        <li>
				                            <a href="#pi14" role="tab" data-toggle="tab">
				                                ПИ-14
				                            </a>
				                        </li>
				                        
										<li>
				                            <a href="#ipz13" role="tab" data-toggle="tab">
												ИПЗ-13
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#pzs13" role="tab" data-toggle="tab">
				                                ПЗС-13
				                            </a>
				                        </li>
				                        <li>
											<a href="#ipzm16" role="tab" data-toggle="tab">
												ИПЗм-16
											</a>
										</li>
									</ul>
							    	<div class="tab-content gallery">
							    		<div class="tab-pane text-center" id="pi14">
											<div class="row">
												<object data="../assets/pdf/schedule/pi14.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/pi14.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/pi14.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="pi15">
											<div class="row">
												<object data="../assets/pdf/schedule/pi15.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/pi15.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/pi15.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="ipz13">
											<div class="row">
											<object data="../assets/pdf/schedule/ipz13.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ipz13.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ipz13.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="pzs13">
											<div class="row">
											<object data="../assets/pdf/schedule/pzs13.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/pzs13.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/pzs13.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="ipz16">
											<div class="row">
											<object data="../assets/pdf/schedule/ipz16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ipz16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ipz16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="ipzm16">
											<div class="row">
											<object data="../assets/pdf/schedule/ipzm16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/ipzm16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/ipzm16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
							    	</div>
							  	</div>
							  	<div id="phil" class="tab-pane fade">
							  		<ul class="nav nav-pills schedule" role="tablist">
							  			<li class="active">
				                            <a href="#fil16" role="tab" data-toggle="tab">
				                                ФИЛ-16
				                            </a>
				                        </li>
										<li>
				                            <a href="#fir15" role="tab" data-toggle="tab">
												ФИР-15
				                            </a>
										<li>
				                            <a href="#relm16" role="tab" data-toggle="tab">
												РЕЛм-16
				                            </a>
				                        </li>
				                    </ul>
							    	<div class="tab-content gallery">
							    		<div class="tab-pane text-center" id="fir15">
											<div class="row">
											<object data="../assets/pdf/schedule/fir15.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/fir15.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/fir15.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="fil16">
											<div class="row">
											<object data="../assets/pdf/schedule/fil16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/fil16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/fil16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>

										
										
										<div class="tab-pane text-center" id="relm16">
											<div class="row">
											<object data="../assets/pdf/schedule/relm16.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/relm16.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/relm16.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
							    	</div>
							  	</div>
								<div id="remote" class="tab-pane fade">
							    	<ul class="nav nav-pills schedule" role="tablist">
										<li class="active">
				                            <a href="#u-autumn" role="tab" data-toggle="tab">
				                                Установочная - осенний семестр
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#s-autumn" role="tab" data-toggle="tab">
												Сессия - осенний семестр
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#u-spring" role="tab" data-toggle="tab">
				                                Установочная - весенний семестр
				                            </a>
				                        </li>
				                        <li>
											<a href="#s-spring" role="tab" data-toggle="tab">
												Сессия - осенний семестр
											</a>
										</li>
									</ul>
									<div class="tab-content gallery">
										<div class="tab-pane active" id="u-autumn">
				                            <div class="row">
												<object data="../assets/pdf/schedule/remote-u-autumn.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/remote-u-autumn.pdf">to the PDF!</a></p>
												</object>
				                            </div>
				                            <a href="../assets/pdf/schedule/remote-u-autumn.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
				                        <div class="tab-pane text-center" id="s-autumn">
											<div class="row">
												<object data="../assets/pdf/schedule/remote-s-autumn.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/remote-s-autumn.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/remote-s-autumn.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
										<div class="tab-pane text-center" id="u-spring">
											<div class="row">
												<object data="../assets/pdf/schedule/remote-u-spring.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/remote-u-spring.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/remote-u-spring.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="s-spring">
											<div class="row">
											<object data="../assets/pdf/schedule/remote-s-spring.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/remote-s-spring.pdf">to the PDF!</a></p>
												</object>
												</div>
												<a href="../assets/pdf/schedule/remote-s-spring.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
				                    </div>
							  	</div>
							  	<div id="teachers" class="tab-pane fade">
							    	<ul class="nav nav-pills schedule" role="tablist">
							    		<li class="active">
				                            <a href="#teacher-schedule" role="tab" data-toggle="tab">
				                                Дневная форма
				                            </a>
				                        </li>
										<li>
				                            <a href="#teacher-u-autumn" role="tab" data-toggle="tab">
				                                Установочная - осенний семестр
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#teacher-s-autumn" role="tab" data-toggle="tab">
												Сессия - осенний семестр
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#teacher-u-spring" role="tab" data-toggle="tab">
				                                Установочная - весенний семестр
				                            </a>
				                        </li>
				                        <li>
											<a href="#teacher-s-spring" role="tab" data-toggle="tab">
												Сессия - осенний семестр
											</a>
										</li>
									</ul>
									<div class="tab-content gallery">
										<div class="tab-pane active" id="teacher-schedule">
				                            <div class="row">
												<object data="../assets/pdf/schedule/teacher-schedule.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/teacher-schedule.pdf">to the PDF!</a></p>
												</object>
				                            </div>
				                            <a href="../assets/pdf/schedule/teacher-schedule.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
										<div class="tab-pane text-center" id="u-autumn">
				                            <div class="row">
												<object data="../assets/pdf/schedule/teacher-u-autumn.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/teacher-u-autumn.pdf">to the PDF!</a></p>
												</object>
				                            </div>
				                            <a href="../assets/pdf/schedule/teacher-u-autumn.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
				                        <div class="tab-pane text-center" id="s-autumn">
											<div class="row">
												<object data="../assets/pdf/schedule/teacher-s-autumn.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/teacher-s-autumn.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/teacher-s-autumn.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
				                        </div>
										<div class="tab-pane text-center" id="u-spring">
											<div class="row">
												<object data="../assets/pdf/schedule/teacher-u-spring.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/teacher-u-spring.pdf">to the PDF!</a></p>
												</object>
											</div>
											<a href="../assets/pdf/schedule/teacher-u-spring.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
										<div class="tab-pane text-center" id="s-spring">
											<div class="row">
											<object data="../assets/pdf/schedule/teacher-s-spring.pdf" type="application/pdf" width="100%" height="800px">
												  <p>Alternative text - include a link <a href="../assets/pdf/schedule/teacher-s-spring.pdf">to the PDF!</a></p>
												</object>
												</div>
												<a href="../assets/pdf/schedule/teacher-s-spring.pdf" class="btn btn-primary"><i class="material-icons">&#xE2C4;</i> Скачать</a>
										</div>
				                    </div>
							  	</div>
							</div>
									
										

				                    
						</div>

					</div>

	            </div>
	        </div>
		</div>