		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Link to main page" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">{{'SPECIALTIES' | translate}}</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>

                    <div class="row bachelor">
						<div class="nav-align-center">
							<ul class="nav nav-tabs">

							  <li ng-class="{active: !activeTab || activeTab == 'bachelor'}"><a data-toggle="tab" data-target="#bachelor">Бакалавріат</a></li>
							  <li ng-class="{active: activeTab == 'master'}"><a data-toggle="tab" data-target="#master">Магістратура</a></li>
							</ul>
							<br>
							<div ng-include src="'/templates/translates/specialties_' + language + '.html'"></div>
						</div>
						<hr>
					</div>
					

	            </div>
	        </div>
		</div>