		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <a href="/"><img src="../assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive img-raised" ></a>
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Спеціальності</h1>
								<h6></h6>
	                        </div>
	                    </div>
	                </div>




					<div class="row bachelor">
						<div class="nav-align-center">
							<ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" href="#bachelor">Бакалавріат</a></li>
							  <li><a data-toggle="tab" href="#master">Магістратура</a></li>
							</ul>
							<br>
							<div class="tab-content">
								<div id="bachelor" class="tab-pane fade in active">
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/7.jpg" class="media-object">
									  </div>
									  <div class="media-body">
									    <h3 class="media-heading">Комп’ютерна інженерія</h3>
									    <strong>Сфери діяльності:</strong>
									    <ul>
									    	<li>проектування і розробка комп’ютерних систем;</li>
									    	<li>проектування, налагодження та підтримка комп’ютерних обчислювальних мереж;</li>
									    	<li>розробка універсальних адаптивних додатків для веб- середовища та сучасних мобільних платформ, створення комплексних програмних рішень.</li>
									    </ul>
									    <strong>Основні дисципліни:</strong>
									    <ul>
									    	<li>основи проектування цифрових пристроїв;</li>
									    	<li>проектування засобів обчислювальної техніки і систем управління;</li>
									    	<li>технології та мови програмування;</li>
									    	<li>сучасні мобільні платформи;</li>
									    	<li>архітектура та програмування мікроконтролерів;</li>
									    	<li>аналіз та обробка цифрових сигналів.</li>
									    </ul>
									    <strong>Предмети для вступу:</strong>
									    <ul>
									    	<li>українська мова та література;</li>
									    	<li>математика</li>
									    	<li>іноземна мова або історія України</li>
									    </ul>
									  </div>
									</div>
									<div class="media">
									  <div class="media-body">
									    <h3 class="media-heading">Інженерія програмного забезпечення</h3>
									    <strong>Сфери діяльності:</strong>
									    <ul>
									    	<li>розробка, використання і супровід алгоритмічного та програмного забезпечення інформаційних систем;</li>
									    	<li>проектування і розробка сучасних прикладних пакетів, баз даних і знань;</li>
									    	<li>впровадження інформаційних технологій в задачах управління та прийняття рішень.</li>
									    </ul>
									    <strong>Основні дисципліни:</strong>
									    <ul>
									    	<li>мови та технології програмування;</li>
									    	<li>методології, технології та середовища проектування, моделювання, розробки та тестування програмного забезпечення.</li>
									    </ul>
									    <strong>Предмети для вступу:</strong>
									    <ul>
									    	<li>українська мова та література;</li>
									    	<li>математика</li>
									    	<li>іноземна мова або історія України</li>
									    </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/1.jpg" class="media-object">
									  </div>
									</div>
									<div class="media">
									  <div class="media-left">
									    <img src="../assets/img/13.jpg" class="media-object">
									  </div>
									  <div class="media-body">
									    <h3 class="media-heading">Комп’ютерні науки та інформаційні технології</h3>
									    <strong>Сфери діяльності:</strong>
									    <ul>
									    	<li>проектування і розробка інформаційних і управляючих систем;</li>
									    	<li>проектування і розробка систем штучного інтелекту;</li>
									    	<li>проектування і розробка веб-орієнтованих систем;</li>
									    	<li>моделювання і комп’ютерний дизайн;</li>
									    	<li>екологічний та економічний моніторинг.</li>
									    </ul>
									    <strong>Основні дисципліни:</strong>
									    <ul>
									    	<li>мови і технології програмування;</li>
									    	<li>апаратні засоби комп’ютерних систем;</li>
									    	<li>засоби моделювання і проектування систем різноманітної направленості і рівнів складності;</li>
									    	<li>методи і засоби штучного інтелекту;</li>
									    	<li>технології збору, обробки та зберігання даних;</li>
									    	<li>проектування і розробка мультимедійних систем та комп’ютерний дизайн.</li>
									    </ul>
									    <strong>Предмети для вступу:</strong>
									    <ul>
									    	<li>українська мова та література;</li>
									    	<li>математика</li>
									    	<li>фізика або історія України</li>
									    </ul>
									  </div>
									</div>
									<div class="media">
									  <div class="media-body">
									    <h3 class="media-heading">Філософія</h3>
									    <strong>Сфери діяльності:</strong>
									    <ul>
									    	<li>продовження навчання в магістратурі, аспірантурі та докторантурі за філософськими спеціальностями;</li>
									    	<li>викладацька діяльність;</li>
									    	<li>консультативна діяльність у різних галузях науки, освіти і культури.</li>
									    </ul>
									    <strong>Основні дисципліни:</strong>
									    <ul>
									    	<li>повний курс з історії філософії (вивчаються за періодами протягом всього курсу навчання);</li>
									    	<li>історія філософії України;</li>
									    	<li>історія філософії Росії;</li>
									    	<li>практична та теоретична філософія;</li>
									    	<li>логіка (традиційна, класична та некласична);</li>
									    	<li>історія релігій.</li>
									    </ul>
									    <strong>Предмети для вступу:</strong>
									    <ul>
									    	<li>українська мова та література</li>
									    	<li>історія України</li>
									    	<li>іноземна мова або географія</li>
									    </ul>
									  </div>
									  <div class="media-right">
									    <img src="../assets/img/15.jpg" class="media-object">
									  </div>
									</div>
								</div>
								<div id="master" class="tab-pane">
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class="media-heading">Підготовка магістрів за спеціальністю </h4>
										    <h3 class="media-heading">123 «Комп'ютерна інженерія»</h3>
											<h4 class="media-heading">(Галузь знань 12 Інформаційні технології)</h4>
											<p>Комп'ютерна інженерія – це глибоке розуміння сучасних комп’ютерних технологій, проектування мікросистем та комп’ютеризованих систем управління, розгортання розподілених дротових та безпровідних мереж, впровадження комплексних апаратно-програмних рішень з використанням сучасних локальних і хмарних технологій.</p>
										    <strong>Спеціалізації:</strong>
										    <ul>
										    	<li>Комп'ютерна інженерія (комп’ютерні системи та мережі, системне програмування);</li>
										    	<li>Проектування мікросистем</li>
										    </ul>
										    <p>Умови вступу: іспит з іноземної мови, іспит за спеціальністю</p>
											<p><strong>Термін навчання:</strong> 1,5 роки</p>
											<ul>
												<li>за денною та заочною формами навчання;</li>
												<li>на бюджетній і контрактній основі;</li>
												<li>на базі освітнього рівня «бакалавр» (будь-якого професійного спрямування). </li>
											</ul>
											<strong>Види професійної діяльності:</strong>
											<ul>
												<li>проектування, розробка та експлуатація комп'ютерних систем та мереж;</li>
												<li>розробка комп’ютерних систем різного ступеню складності на базі логічних інтегральних схем з можливістю зміни конфігурації;</li>
												<li>розробка і налагодження апаратного та програмного забезпечення в різноманітних операційних системах та середовищах; </li>
												<li>розробка і використання сучасних моделюючих середовищ на основі паралельних комп’ютерних систем, створення ефективних моделей для опису технологічних процесів, реалізація паралельних симуляторів;</li>
												<li>проектування, налагодження та підтримка комп’ютерних обчислювальних мереж локального, регіонального та міжнародного рівня;</li>
												<li>створення апаратно-програмних рішень з проектування мікросистем.</li>
											</ul>
											<strong>Сфера працевлаштування: </strong>
											<ul>
												<li>підприємства, де виконуються роботи з проектування, впровадження, експлуатації та супроводу комп'ютерних систем на базі сучасних апаратних засобів;</li>
												<li>компанії, що займаються розробкою програм рівня архітектури та операційних систем, а також паралельних програмних рішень;</li>
												<li>створення розподілених інтерактивних систем для сучасних мобільних пристроїв та платформ; </li>
												<li>посади адміністратора мереж та баз даних, спеціаліста з впровадження інформаційних технологій на промислових підприємствах, у фінансових установах та державних закладах.</li>
											</ul>
											<strong>Міжнародне співробітництво:</strong>
											<ul>
												<li>участь в проекті ТЕМПУС «Curricula Development for New Specialization: Master of Engineering in Microsystem Design», який передбачає участь студентів у заходах з проекту: літні школи, магістерська практика та тренінг у закордонних університетах-партнерах м. Лодзь (Польща), м. Ліон (Франція) та м. Ільменау (Німеччина);</li>
												<li>виконання науково-дослідницьких робіт із створення надпродуктивних паралельних комп’ютерних систем спільно з Штутгартським, Гамбурзьким, Магдебурзьким університетами  (Німеччина), стажування та отримання відповідних наукових стипендій.</li>
											</ul>  
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class="media-heading">Підготовка магістрів за спеціальністю </h4>
										    <h3 class="media-heading">121 «Інженерія програмного забезпечення»</h3>
											<h4 class="media-heading">(Галузь знань 12 Інформаційні технології)</h4>
											<p>Програмна інженерія – це застосування творчого підходу до розробки, використання та супроводу сучасного програмного забезпечення.</p>
										    <strong>Спеціалізації:</strong>
										    <ul>
										    	<li>Інженерія програмного забезпечення(розробка програмних продуктів);</li>
										    	<li>Програмне забезпечення мультимедійних систем для ігрових додатків;</li>
										    </ul>
										    <p>Умови вступу: іспит з іноземної мови, іспит за спеціальністю</p>
											<p><strong>Термін навчання:</strong> 1,5 роки</p>
											<ul>
												<li>за денною та заочною формами навчання;</li>
												<li>на бюджетній і контрактній основі;</li>
												<li>на базі освітнього рівня «бакалавр» (будь-якого професійного спрямування). </li>
											</ul>
											<strong>Види професійної діяльності:</strong>
											<ul>
												<li>програмування,  створення програмних продуктів у творчих колективах та індивідуально;</li>
												<li>розробка, використання і супровід алгоритмічного та програмного забезпечення інформаційних систем; </li>
												<li>проектування і розробка сучасних прикладних пакетів, баз знань; </li>
												<li>створення ігрових за додатків для різноманітних пристроїв;</li>
												<li>впровадження інформаційних технологій в промислових процесах різного рівня, задачах управління та прийняття рішень.</li>
											</ul>
											<strong>Сфера працевлаштування: </strong>
											<ul>
												<li>підприємства різного профілю та рівня, що мають у своєму складі ІТ-структури, або створюють ці підрозділи;   </li>
												<li>підприємства ІТ-індустрії будь-якої організаційно-правової форми;</li>
												<li>консультативні центри, наукові та освітні заклади та інші  в якості: програмістів прикладного рівня; Web-програмістів; розробників програмного забезпечення;  проектувальників автоматизованих та інформаційних систем та їх супроводжувачів; технологів систем прийняття рішень і підтримки наукових досліджень; інженерів з тестування програмного забезпечення; науково-педагогічних працівників; game-розробників.</li>
											</ul>
											<strong>Міжнародне співробітництво:</strong>
											<ul>
												<li>Участь у проекті GameHub, який передбачає співпрацю шести українських вузів та підприємств у ком’ютерній ігровій індустрії України. Координатор проекту UNIVERSITY of DEUSTO (Іспанія). Учасники проекту: Akademia Gorniczo-Hutnicza im.Stanislawa Staszica w  Krakowie (Польща), FH JOANNEUM Gesellschaft M.B.H. (Аустрія), Quality Austria – Trainings, Zertifizierungs und Begutachtungs GmbH (Аустрія), Fundación Virtualware Labs (Іспанія);</li>
												<li>Участь у проекті Erasmus+  -  програмі Європейського Союзу з підтримки проектів у сфері освіти, професійного навчання, роботи з молоддю.</li>
											</ul>  
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class="media-heading">Підготовка магістрів за спеціальністю </h4>
										    <h3 class="media-heading">122 «Комп’ютерні науки та інформаційні технології»</h3>
											<h4 class="media-heading">(Галузь знань 12 Інформаційні технології)</h4>
											<p>Спеціальність «Комп'ютерні науки та інформаційні технології» передбачає підготовку фахівців, кваліфікація яких гармонійно поєднує знання та навички у галузі інформаційних технологій та загальну фундаментальну підготовку.</p>
										    <strong>Кваліфікація:</strong>
										    <ul>
										    	<li>магістр з комп’ютерних наук та інформаційних технологій. Науковий співробітник (Обчислювальних систем)</li>
										    </ul>
										    <p>Умови вступу: іспит з іноземної мови, іспит за спеціальністю</p>
											<p><strong>Термін навчання:</strong> 1,5 роки</p>
											<ul>
												<li>за денною та заочною формами навчання;</li>
												<li>на бюджетній і контрактній основі;</li>
												<li>на базі освітнього рівня «бакалавр» (будь-якого професійного спрямування). </li>
											</ul>
											<strong>Види професійної діяльності:</strong>
											<ul>
												<li>проектування інформаційних управляючих систем в різних галузях та їх реалізація;</li>
												<li>проектування та розробка програмних модулів систем штучного інтелекту та систем прийняття рішень;</li>
												<li>створення систем автоматизованого проектування та їх компонентів;</li>
												<li>створення інтелектуальних навчальних систем та віртуальних навчальних середовищ;</li>
												<li>розробка систем з опрацювання мовних сигналів, аналізу та синтезу зображень;</li>
												<li>дослідження та побудова інформаційно-пошукових і експертних систем;</li>
												<li>моделювання, розробка та впровадження інтернет-технологій для побудови сервіс-орієнтованих систем, організації та реалізації розподілених систем;</li>
												<li>розробка та дослідження інтелектуальних агентних систем;</li>
												<li>проводження наукових досліджень в галузі комп’ютерних наук та інформаційних технологій, формулювання нових гіпотез та наукових задач.</li>
											</ul>
											<strong>Сфера працевлаштування: </strong>
											<ul>
												<li>компанії, підприємства чи установи ІТ-індустрії, які займаються проектуванням інформаційних систем (із застосуванням методів і засобів сучасних інформаційних технологій) та розробкою, впровадженням і супроводом програмного забезпечення;</li>
												<li>наукові та освітні заклади;</li>
												<li>дослідні центри;</li>
												<li>фінансові, страхові або консалтингові компанії;</li>
												<li>інтернет-провайдери та ін. в якості  наукових співробітників (обчислювальних систем); аналітиків комп’ютерних систем; розробників програмного забезпечення для систем штучного інтелекту, експертних систем, систем підтримки прийняття рішень, систем машинної графіки та діалогових систем, систем наукових досліджень комп’ютеризованих інформаційних систем і технологій для різноманітних галузей науки, промисловості та бізнесу; проектувальників та розробників ІТ-систем; фахівців-аналітиків з інформаційних систем і ресурсів; системних адміністраторів; керівників підприємств та ІТ-підрозділів; інженерів з комп’ютерних інформаційних систем; науково-педагогічних працівників.</li>
											</ul>
									  	</div>
									</div>
									<hr>
									<div class="media">
									 	 <div class="media-body">
										  	<h4 class="media-heading">Підготовка магістрів за спеціальністю </h4>
										    <h3 class="media-heading">31 «Релігієзнавство»</h3>
											<h4 class="media-heading">(Галузь знань 03 Гуманітарні науки)</h4>
											<p>Релігієзнавство – це консультаційна діяльність в різних галузях науки, освіти та культури; викладацька та просвітня діяльність.</p>
										    <strong>Кваліфікація:</strong>
										    <ul>
										    	<li>магістр з релігієзнавства. Викладач ВНЗ (філософські та релігієзнавчі дисципліни) </li>
										    </ul>
										    <p>Умови вступу: іспит з іноземної мови, іспит за спеціальністю</p>
											<p><strong>Термін навчання:</strong> 1,5 роки</p>
											<ul>
												<li>за денною та заочною формами навчання;</li>
												<li>на бюджетній і контрактній основі;</li>
												<li>на базі освітнього рівня «бакалавр» (будь-якого професійного спрямування). </li>
											</ul>
											<strong>Види професійної діяльності:</strong>
											<ul>
												<li>консультаційна діяльність в різних галузях науки, освіти та культури;</li>
												<li>викладацька та просвітня діяльність;</li>
												<li>філософські та культурологічні дисципліни;</li>
												<li>історичні науки.</li>
											</ul>
											<strong>Сфера працевлаштування: </strong>
											<ul>
												<li>установи науки, культури та освітньої сфери, що займаються просвітньою, консультаційною, роз'яснювальною діяльністю;</li>
												<li>дослідницькі та аналітичні групи з питань філософії, історії, релігієзнавства, соціології;</li>
												<li>держслужбовці в адміністраціях будь якого рівня з питань культури, освіти, молоді;</li>
												<li>видавничі органи, засоби масової інформації, заклади культури.</li>
											</ul>
									  	</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>

	            </div>
	        </div>
		</div>